{% from "../macros/card.njk" import card %}

{% macro cardBlock(title, cards, permissionMessage) %}

  <div class="body-tiles">
    <div class="govuk-width-container">
      {% if title %}
        <h2 class="govuk-heading-m"> {{ title }} </h2>
      {% endif %}
      {% set hasVisibleCards = false %}
      {% if cards %}
        {% for cardDetails in cards -%}
          {% if cardDetails and cardDetails.visible %}
            {% set hasVisibleCards = true %}
          {% endif %}
        {%- endfor %}
      {% endif %}
      {% if hasVisibleCards %}
        <div class="card-group govuk-grid-row">
          {% for cardDetails in cards -%}
            <div class="govuk-grid-column-one-third card-group__item">
              {{ card(cardDetails) }}
            </div>
          {%- endfor %}
        </div>
      {% elif permissionMessage %}
        <p class="govuk-body">{{ permissionMessage }}</p>
      {% endif %}
    </div>
  </div>
{% endmacro %}
