{% from "../macros/card.njk" import card %}

{% macro cardBlock(title, cards) %}

  <div class="body-tiles">
    <div class="govuk-width-container">
      {% if title %}
        <h2 class="govuk-heading-l"> {{ title }} </h2>
      {% endif %}
      <div class="card-group govuk-grid-row">
        {% for cardDetails in cards -%}
          <div class="govuk-grid-column-one-third card-group__item">
            {{ card(cardDetails) }}
          </div>
        {%- endfor %}
      </div>
    </div>
  </div>
{% endmacro %}
