{% from "govuk/components/summary-list/macro.njk" import govukSummaryList %}
{% from "govuk/components/table/macro.njk" import govukTable %}

{% from './certificationApprovalRequestSummary.njk' import certificationApprovalRequestSummary %}

{% macro recurseLocationTable(rows, location, specialistCellTypes) %}
  {% set rows = (rows.push([
    {
      classes: 'govuk-table__cell',
      text: location.pathHierarchy
    },
    {
      text: location.cellMark or '-'
    },
    {
      text: location.certifiedNormalAccommodation or '-'
    },
    {
      text: location.workingCapacity or '-'
    },
    {
      text: location.maxCapacity or '-'
    },
    {
      html: (formatConstants(specialistCellTypes, location.specialistCellTypes) or '-') if location.locationType == 'CELL' else '-'
    },
    {
      text: 'Yes' if location.inCellSanitation == true else ('No' if location.inCellSanitation == false else '-')
    }
  ]), rows) %}

  {% for subLocation in location.subLocations %}
    {{ recurseLocationTable(rows, subLocation, specialistCellTypes) }}
  {% endfor %}
{% endmacro %}

{% macro recurseLocationDeactivationTable(rows, location) %}
  {% if location.locationType === 'CELL' and location.currentWorkingCapacity > 0 %}
    {% set rows = (rows.push([
      {
        classes: 'govuk-table__cell',
        text: location.pathHierarchy
      },
      {
        classes: 'govuk-table__cell',
        text: location.currentWorkingCapacity + " → 0"
      }
    ]), rows) %}
  {% endif %}

  {% for subLocation in location.subLocations %}
    {{ recurseLocationDeactivationTable(rows, subLocation) }}
  {% endfor %}
{% endmacro %}

{% macro certificationApprovalRequest(request, multiple, index, prisonResidentialSummary, includeChangeSummary, constants, locationMap) %}
  {% set changeType = approvalTypeDescription(request.approvalType, constants, locationMap[request.locationId]) %}

  <div class="govuk-width-container">
    <div class="govuk-grid-row govuk-!-margin-bottom-0" data-qa="approval-request-{{ request.approvalType }}">
      <div class="govuk-grid-column-two-thirds">
        {% if multiple %}
          <h2 class="govuk-heading-m">Change {{ index + 1 }} - {{ changeType }}</h2>
        {% endif %}
      </div>

      {% if request.approvalType == 'SIGNED_OP_CAP' %}
        <div class="govuk-grid-column-two-thirds">
          {% if includeChangeSummary %}
            {{ certificationApprovalRequestSummary(request, null, locationMap, constants) }}
          {% endif %}

          {% if multiple %}
            <h3 class="govuk-heading-s">Proposed changes to the certificate</h3>
          {% else %}
            <h2 class="govuk-heading-m">Proposed changes to the certificate</h2>
          {% endif %}

          {{ govukTable({
            attributes: {
              'data-qa': 'cap-change-table'
            },
            head: [
              { text: "Location", classes: "govuk-!-width-one-third" },
              { text: "Signed operational capacity", classes: "govuk-!-width-two-thirds" }
            ],
            rows: [[
              { text: request.prisonId },
              { text: request.currentSignedOperationCapacity + " → " + (request.currentSignedOperationCapacity + request.signedOperationCapacityChange) }
            ]]
          }) }}
        </div>
      {% elseif request.approvalType == 'DRAFT' %}
        <div class="govuk-grid-column-two-thirds">
          {% if includeChangeSummary %}
            {{ certificationApprovalRequestSummary(request, null, locationMap, constants) }}
          {% endif %}

          {% if multiple %}
            <h3 class="govuk-heading-s">Proposed changes to the certificate</h3>
          {% else %}
            <h2 class="govuk-heading-m">Proposed changes to the certificate</h2>
            <h3 class="govuk-heading-s">New wing usage</h3>
          {% endif %}

          {{ govukTable({
            attributes: {
              'data-qa': 'wing-table'
            },
            head: [
              { classes: 'govuk-table__cell', text: "Location" },
              { text: "Accommodation type" },
              { text: "Used for" }
            ],
            rows: [[
              { text: request.locations[0].pathHierarchy, classes: 'govuk-table__header govuk-table__cell' },
              { html: formatConstants(constants.accommodationTypes, request.locations[0].accommodationTypes) },
              { html: formatConstants(constants.usedForTypes, request.locations[0].usedFor) }
            ]]
          }) }}

          {% if not multiple %}
            <h3 class="govuk-heading-s">New locations</h3>
          {% endif %}
        </div>

        {% set locationTableRows = [] %}
        {% for location in request.locations %}
          {{ recurseLocationTable(locationTableRows, location, constants.specialistCellTypes) }}
        {% endfor %}

        <div class="govuk-grid-column-full">
          {{ govukTable({
            attributes: {
              'data-qa': 'locations-table'
            },
            head: [
              { text: "Location code" },
              { text: "Door number" },
              { text: "Baseline CNA" },
              { text: "Certified working capacity" },
              { text: "Maximum capacity" },
              { text: "Cell type" },
              { text: "Sanitation" }
            ],
            rows: locationTableRows,
            firstCellIsHeader: true
          }) }}
        </div>
      {% elseif request.approvalType == 'CELL_MARK' %}
        <div class="govuk-grid-column-two-thirds">
          {% if request.status != 'PENDING' %}
            {{ govukSummaryList({
            rows:[
              {
                key: {
                  text: 'Location'
                },
                value: {
                  text: request.locations[0].pathHierarchy
                }
              },
              {
                key: {
                text: 'Change type'
              },
                value: {
                  text: "Cell door number"
                }
              },
                {
                  key: {
                  text: 'Explanation'
                },
                  value: {
                  text: request.reasonForChange
                },
                  actions: {
                  items: [
                    {
                      href: '/location/' + request.locations[0].id + '/change-door-number/details',
                      text: "Change",
                      visuallyHiddenText: "reason",
                      classes: "govuk-link--no-visited-state"}
                  ]
                }
                }
              ]
            }) }}
            <h2 class="govuk-heading-s">Proposed changes to the certificate</h2>
            {{ govukTable({
              head: [
                { classes: 'govuk-table__cell', text: "Location" },
                { text: "Door number" }
              ],
              rows:[[
                { text: request.locations[0].pathHierarchy },
                { text: request.currentCellMark + " → " + request.cellMark }
              ]]
            }) }}
          {% else %}
            <h2 class="govuk-heading-m">Proposed changes to the certificate</h2>
            {{ govukTable({
              attributes: {
                'data-qa': 'cell-mark-change-table'
              },
              head: [
                { classes: 'govuk-table__cell', text: "Location" },
                { text: "Door number" }
              ],
              rows:[[
                { text: request.locationKey.replace(request.prisonId + '-', '') },
                { text: request.currentCellMark + " → " + request.cellMark }
              ]]
            }) }}
          {% endif %}
        </div>

      {% elseif request.approvalType == 'DEACTIVATION' %}
        <div class="govuk-grid-column-two-thirds">
          {% if includeChangeSummary %}
            {{ certificationApprovalRequestSummary(request, null, locationMap, constants) }}
          {% endif %}

          {% if multiple %}
            <h3 class="govuk-heading-s">Proposed changes to the certificate</h3>
          {% else %}
            <h2 class="govuk-heading-m">Proposed changes to the certificate</h2>
          {% endif %}

          {% set locationTableRows = [] %}
          {% for location in request.locations %}
            {{ recurseLocationDeactivationTable(locationTableRows, location) }}
          {% endfor %}

          {% if request.locations[0].locationType !== 'CELL' %}
            {% set locationTableRows = (locationTableRows.push([
              {
                classes: 'govuk-table__header',
                text: 'Total'
              },
              {
                classes: 'govuk-table__header',
                text: -request.workingCapacityChange + " → 0"
              }
            ]), locationTableRows) %}
          {% endif %}

          {{ govukTable({
            attributes: {
              'data-qa': 'locations-table'
            },
            head: [
              { text: "Location" },
              { text: "Certified working capacity" }
            ],
            rows: locationTableRows
          }) }}
        </div>
      {% elseif request.approvalType == 'REACTIVATION' %}
      {% elseif request.approvalType == 'CAPACITY_CHANGE' %}
      {% endif %}
    </div>
  </div>
{% endmacro %}
