{% from "govuk/components/button/macro.njk" import govukButton %}
{% from "govuk/components/summary-list/macro.njk" import govukSummaryList %}

{% macro certificationApprovalRequestSummary(request, userMap, locationMap, constants, showWithdraw, showStatus) %}
  {% set changeType = approvalTypeDescription(request.approvalType, constants, locationMap[request.locationId]) %}

  {% if request.approvalType == 'DEACTIVATION' %}
    {% set formattedDeactivationReason = formatConstants(constants.deactivatedReasons, request.deactivatedReason) %}
    {% if request.deactivationReasonDescription %}
      {% set formattedDeactivationReason = formattedDeactivationReason + ' - ' + request.deactivationReasonDescription %}
    {% endif %}
  {% endif %}

  {% if request.status == 'PENDING' %}
    {% set statusText = 'Awaiting approval' %}
  {% elseif request.status == 'APPROVED' %}
    {% set statusText = 'Approved' %}
  {% elseif request.status == 'REJECTED' %}
    {% set statusText = 'Rejected' %}
  {% elseif request.status == 'WITHDRAWN' %}
    {% set statusText = 'Withdrawn' %}
  {% endif %}

  {{ govukSummaryList({
    attributes: {
      'data-qa': 'overview-list'
    },
    rows:[
      {
        key: { text: 'Location' },
        value: { text: (request.locationKey.replace(request.prisonId + '-', '') if request.locationKey) or request.prisonId }
      },
      {
        key: { text: 'Change type' },
        value: { text: changeType }
      },
      {
        key: { text: 'Reason' },
        value: { text: formattedDeactivationReason }
      } if formattedDeactivationReason,
      {
        key: { text: 'Estimated reactivation date' },
        value: { text: request.proposedReactivationDate | formatDate }
      } if request.proposedReactivationDate,
      {
        key: { text: 'Facilities reference number' },
        value: { text: request.planetFmReference }
      } if request.planetFmReference,
      {
        key: { text: 'Explanation' },
        value: { html: request.reasonForChange.replaceAll('<', '&lt;').replaceAll('\n', '<br>') }
      } if request.reasonForChange,
      {
        key: { text: 'Submitted on' },
        value: { text: request.requestedDate | formatDateWithTime }
      } if request.requestedDate,
      {
        key: { text: 'Submitted by' },
        value: { text: userMap[request.requestedBy] }
      } if request.requestedBy,
      {
        key: { text: 'Approved on' },
        value: { text: request.approvedOrRejectedDate | formatDateWithTime }
      } if request.status == 'APPROVED',
      {
        key: { text: 'Approved by' },
        value: { text: userMap[request.approvedOrRejectedBy] }
      } if request.status == 'APPROVED',
      {
        key: { text: 'Rejected on' },
        value: { text: request.approvedOrRejectedDate | formatDateWithTime }
      } if request.status == 'REJECTED',
      {
        key: { text: 'Rejected by' },
        value: { text: userMap[request.approvedOrRejectedBy] }
      } if request.status == 'REJECTED',
      {
        key: { text: 'Status' },
        value: { text: statusText }
      } if request.status and showStatus
    ]
  }) }}

  {% if showWithdraw and request.status == 'PENDING' %}
    {{ govukButton({
      text: "Withdraw request",
      classes: "govuk-button--secondary",
      preventDoubleClick: true,
      href: "/" + request.prisonId + "/cell-certificate/change-requests/" + request.id + "/withdraw"
    }) }}
  {% endif %}
{% endmacro %}
