{% from "govuk/components/summary-list/macro.njk" import govukSummaryList %}
{% from "govuk/components/table/macro.njk" import govukTable %}

{% from "./comparisonTable.njk" import comparisonTable %}
{% from './certificationApprovalRequestSummary.njk' import certificationApprovalRequestSummary %}

{% macro recurseLocationTable(rows, location, specialistCellTypes) %}
  {% set rows = (rows.push([
    {
      classes: 'govuk-table__cell',
      text: location.pathHierarchy
    },
    {
      text: location.cellMark or '-'
    },
    {
      text: location.certifiedNormalAccommodation or '-'
    },
    {
      text: location.workingCapacity or '-'
    },
    {
      text: location.maxCapacity or '-'
    },
    {
      html: (formatConstants(specialistCellTypes, location.specialistCellTypes) or '-') if location.locationType == 'CELL' else '-'
    },
    {
      text: 'Yes' if location.inCellSanitation == true else ('No' if location.inCellSanitation == false else '-')
    }
  ]), rows) %}

  {% for subLocation in location.subLocations %}
    {{ recurseLocationTable(rows, subLocation, specialistCellTypes) }}
  {% endfor %}
{% endmacro %}

{% macro recurseLocationDeactivationTable(rows, location) %}
  {% if location.locationType === 'CELL' %}
    {% set rows = (rows.push([
      {
        classes: 'govuk-table__cell',
        text: location.pathHierarchy
      },
      {
        classes: 'govuk-table__cell',
        text: location.currentWorkingCapacity + (" → 0" if location.currentWorkingCapacity > 0)
      }
    ]), rows) %}
  {% endif %}

  {% for subLocation in location.subLocations %}
    {{ recurseLocationDeactivationTable(rows, subLocation) }}
  {% endfor %}
{% endmacro %}

{% macro recurseLocationReactivationCheckChanges(location, changes) %}
  {% if location.locationType === 'CELL' %}
    {% if not changes.cna and location.currentCertifiedNormalAccommodation != location.certifiedNormalAccommodation %}
      {% set changes = changes | setAttribute('cna', true) %}
    {% endif %}
    {% if not changes.wc and location.currentWorkingCapacity != location.workingCapacity %}
      {% set changes = changes | setAttribute('wc', true) %}
    {% endif %}
    {% if not changes.mc and location.currentMaxCapacity != location.maxCapacity %}
      {% set changes = changes | setAttribute('mc', true) %}
    {% endif %}
    {% if not changes.types and (location.currentSpecialistCellTypes or []).toString() != (location.specialistCellTypes or []).toString() %}
      {% set changes = changes | setAttribute('types', true) %}
    {% endif %}
  {% endif %}

  {% for subLocation in location.subLocations %}
    {{ recurseLocationReactivationCheckChanges(subLocation, changes) }}
  {% endfor %}
{% endmacro %}

{% macro recurseLocationReactivationTable(rows, location, specialistCellTypes, changes) %}
  {% if location.locationType === 'CELL' %}
    {% set rows = (rows.push([
      {
        classes: 'govuk-table__cell',
        text: location.pathHierarchy
      },
      {
        classes: 'govuk-table__cell',
        text: location.currentCertifiedNormalAccommodation
          + (
              (" → " + location.certifiedNormalAccommodation)
                if location.currentCertifiedNormalAccommodation != location.certifiedNormalAccommodation
            )
      } if changes.cna,
      {
        classes: 'govuk-table__cell',
        text: location.currentWorkingCapacity
          + (
              (" → " + location.workingCapacity)
                if location.currentWorkingCapacity != location.workingCapacity
            )
      } if changes.wc,
      {
        classes: 'govuk-table__cell',
        text: location.currentMaxCapacity
          + (
              (" → " + location.maxCapacity)
                if location.currentMaxCapacity != location.maxCapacity
            )
      } if changes.mc,
      {
        classes: 'govuk-table__cell',
        text: (formatConstants(specialistCellTypes, location.currentSpecialistCellTypes, ', ') or '-')
          + (
              (" → " + (formatConstants(specialistCellTypes, location.specialistCellTypes, ', ') or '-'))
                if (location.currentSpecialistCellTypes or []).toString() != (location.specialistCellTypes or []).toString()
            )
      } if changes.types
    ] | stripEmpty), rows) %}
  {% endif %}

  {% for subLocation in location.subLocations %}
    {{ recurseLocationReactivationTable(rows, subLocation, specialistCellTypes, changes) }}
  {% endfor %}
{% endmacro %}

{% macro certificationApprovalRequest(request, multiple, index, prisonResidentialSummary, includeChangeSummary, constants, locationMap, changeLinks) %}
  {% set changeType = approvalTypeDescription(request.approvalType, constants, locationMap[request.locationId]) %}

  <div class="govuk-width-container">
    <div class="govuk-grid-row govuk-!-margin-bottom-0" data-qa="approval-request-{{ request.approvalType }}">
      <div class="govuk-grid-column-two-thirds">
        {% if multiple %}
          <h2 class="govuk-heading-m">Change {{ index + 1 }} - {{ changeType }}</h2>
        {% endif %}
      </div>

      {% if request.approvalType == 'SIGNED_OP_CAP' %}
        <div class="govuk-grid-column-two-thirds">
          {% if includeChangeSummary %}
            {{ certificationApprovalRequestSummary(request, null, locationMap, constants, false, false, changeLinks[request.approvalType]) }}
          {% endif %}

          {% if multiple %}
            <h3 class="govuk-heading-s">Proposed changes to the certificate</h3>
          {% else %}
            <h2 class="govuk-heading-m">Proposed changes to the certificate</h2>
          {% endif %}

          {{ govukTable({
            attributes: {
              'data-qa': 'cap-change-table'
            },
            head: [
              { text: "Location", classes: "govuk-!-width-one-third" },
              { text: "Signed operational capacity", classes: "govuk-!-width-two-thirds" }
            ],
            rows: [[
              { text: request.prisonId },
              { text: request.currentSignedOperationCapacity + " → " + (request.currentSignedOperationCapacity + request.signedOperationCapacityChange) }
            ]]
          }) }}
        </div>
      {% elseif request.approvalType == 'DRAFT' %}
        <div class="govuk-grid-column-two-thirds">
          {% if includeChangeSummary %}
            {{ certificationApprovalRequestSummary(request, null, locationMap, constants, false, false, changeLinks[request.approvalType]) }}
          {% endif %}

          {% if multiple %}
            <h3 class="govuk-heading-s">Proposed changes to the certificate</h3>
          {% else %}
            <h2 class="govuk-heading-m">Proposed changes to the certificate</h2>
            <h3 class="govuk-heading-s">New wing usage</h3>
          {% endif %}

          {{ govukTable({
            attributes: {
              'data-qa': 'wing-table'
            },
            head: [
              { classes: 'govuk-table__cell', text: "Location" },
              { text: "Accommodation type" },
              { text: "Used for" }
            ],
            rows: [[
              { text: request.locations[0].pathHierarchy, classes: 'govuk-table__header govuk-table__cell' },
              { html: formatConstants(constants.accommodationTypes, request.locations[0].accommodationTypes) },
              { html: formatConstants(constants.usedForTypes, request.locations[0].usedFor) }
            ]]
          }) }}

          {% if not multiple %}
            <h3 class="govuk-heading-s">New locations</h3>
          {% endif %}
        </div>

        {% set locationTableRows = [] %}
        {% for location in request.locations %}
          {{ recurseLocationTable(locationTableRows, location, constants.specialistCellTypes) }}
        {% endfor %}

        <div class="govuk-grid-column-full">
          {{ govukTable({
            attributes: {
              'data-qa': 'locations-table'
            },
            head: [
              { text: "Location code" },
              { text: "Door number" },
              { text: "Baseline CNA" },
              { text: "Certified working capacity" },
              { text: "Maximum capacity" },
              { text: "Cell type" },
              { text: "Sanitation" }
            ],
            rows: locationTableRows,
            firstCellIsHeader: true
          }) }}
        </div>
      {% elseif request.approvalType == 'CELL_MARK' %}
        <div class="govuk-grid-column-two-thirds">
          {% if includeChangeSummary %}
            {{ certificationApprovalRequestSummary(request, null, locationMap, constants, false, false, changeLinks[request.approvalType]) }}
          {% endif %}

          {% if multiple %}
            <h3 class="govuk-heading-s">Proposed changes to the certificate</h3>
          {% else %}
            <h2 class="govuk-heading-m">Proposed changes to the certificate</h2>
          {% endif %}

          {{ govukTable({
            attributes: {
              'data-qa': 'cell-mark-change-table'
            },
            head: [
              { classes: 'govuk-table__cell', text: "Location" },
              { text: "Door number" }
            ],
            rows:[[
              { text: request.locationKey.replace(request.prisonId + '-', '') },
              { text: request.currentCellMark + " → " + request.cellMark }
            ]]
          }) }}
        </div>

      {% elseif request.approvalType == 'CELL_SANITATION' %}
        {% set currentInCellSanitation = request.currentInCellSanitation  | yesNo %}
        {% set inCellSanitation = request.inCellSanitation | yesNo %}
        <div class="govuk-grid-column-two-thirds">
          {% if includeChangeSummary %}
            {{ certificationApprovalRequestSummary(request, null, locationMap, constants, false, false, changeLinks[request.approvalType]) }}
          {% endif %}

          <h2 class="govuk-heading-m">Proposed changes to the certificate</h2>
          {{ govukTable({
            attributes: {
              'data-qa': 'cell-sanitation-change-table'
            },
            head: [
              { classes: 'govuk-table__cell', text: "Location" },
              { text: "Sanitation" }
            ],
            rows:[[
              { text: request.locationKey.replace(request.prisonId + '-', '') },
              { text: currentInCellSanitation + " → " + inCellSanitation }
            ]]
          }) }}
        </div>
      {% elseif request.approvalType == 'DEACTIVATION' %}
        <div class="govuk-grid-column-two-thirds">
          {% if includeChangeSummary %}
            {{ certificationApprovalRequestSummary(request, null, locationMap, constants, false, false, changeLinks[request.approvalType]) }}
          {% endif %}

          {% if multiple %}
            <h3 class="govuk-heading-s">Proposed changes to the certificate</h3>
          {% else %}
            <h2 class="govuk-heading-m">Proposed changes to the certificate</h2>
          {% endif %}

          {% set locationTableRows = [] %}
          {% for location in request.locations %}
            {{ recurseLocationDeactivationTable(locationTableRows, location) }}
          {% endfor %}

          {% if request.locations[0].locationType !== 'CELL' %}
            {% set locationTableRows = (locationTableRows.push([
              {
                classes: 'govuk-table__header',
                text: 'Total'
              },
              {
                classes: 'govuk-table__header',
                text: -request.workingCapacityChange + " → 0"
              }
            ]), locationTableRows) %}
          {% endif %}

          {{ govukTable({
            attributes: {
              'data-qa': 'locations-table'
            },
            head: [
              { text: "Location" },
              { text: "Certified working capacity" }
            ],
            rows: locationTableRows
          }) }}
        </div>
      {% elseif request.approvalType == 'REACTIVATION' %}
        <div class="govuk-grid-column-two-thirds">
          {% if includeChangeSummary %}
            {{ certificationApprovalRequestSummary(request, null, locationMap, constants, false, false, changeLinks[request.approvalType]) }}
          {% endif %}
        </div>

        {% set changes = {} %}
        {% for location in request.locations %}
          {{ recurseLocationReactivationCheckChanges(location, changes) }}
        {% endfor %}

        <div class="govuk-grid-column-{{ 'full' if (changes | keys | length) >= 3 else 'two-thirds' }}">
          {% if multiple %}
            <h3 class="govuk-heading-s">Proposed changes to the certificate</h3>
          {% else %}
            <h2 class="govuk-heading-m">Proposed changes to the certificate</h2>
          {% endif %}

          {% set locationTableRows = [] %}
          {% for location in request.locations %}
            {{ recurseLocationReactivationTable(locationTableRows, location, constants.specialistCellTypes, changes) }}
          {% endfor %}

          {% if request.locations[0].locationType !== 'CELL' %}
            {% set locationTableRows = (locationTableRows.push([
              {
                classes: 'govuk-table__header',
                text: 'Total'
              },
              {
                classes: 'govuk-table__header',
                text: request.locations[0].currentCertifiedNormalAccommodation
                  + ((" → " + request.locations[0].certifiedNormalAccommodation)
                    if request.locations[0].currentCertifiedNormalAccommodation != request.locations[0].certifiedNormalAccommodation)
              } if changes.cna,
              {
                classes: 'govuk-table__header',
                text: request.locations[0].currentWorkingCapacity
                  + ((" → " + request.locations[0].workingCapacity)
                    if request.locations[0].currentWorkingCapacity != request.locations[0].workingCapacity)

              } if changes.wc,
              {
                classes: 'govuk-table__header',
                text: request.locations[0].currentMaxCapacity
                  + ((" → " + request.locations[0].maxCapacity)
                    if request.locations[0].currentMaxCapacity != request.locations[0].maxCapacity)
              } if changes.mc,
              {
                classes: 'govuk-table__header',
                text: ''
              } if changes.types
            ] | stripEmpty), locationTableRows) %}
          {% endif %}

          {{ govukTable({
            attributes: {
              'data-qa': 'locations-table'
            },
            head: [
              { text: "Location" },
              { text: "Baseline CNA" } if changes.cna,
              { text: "Certified working capacity" } if changes.wc,
              { text: "Maximum capacity" } if changes.mc,
              { text: "Cell type" } if changes.types
            ] | stripEmpty,
            rows: locationTableRows
          }) }}
        </div>
      {% elseif request.approvalType == 'CAPACITY_CHANGE' %}
        <div class="govuk-grid-column-two-thirds">
          {% if includeChangeSummary %}
            {{ certificationApprovalRequestSummary(request, null, locationMap, constants, false, false, changeLinks[request.approvalType]) }}
          {% endif %}

          {% if multiple %}
            <h3 class="govuk-heading-s">Proposed changes to the certificate</h3>
          {% else %}
            <h2 class="govuk-heading-m">Proposed changes to the certificate</h2>
          {% endif %}
        </div>

        {{ comparisonTable({
          attributes: {
            'data-qa': 'capacity-change-table'
          },
          head: [
            { text: "Location" },
            { text: "Baseline CNA" },
            { text: "Certified working capacity" },
            { text: "Maximum capacity" }
          ],
          rows:[[
            { new: request.locations[0].pathHierarchy },
            { old: request.locations[0].currentCertifiedNormalAccommodation,
              new: request.locations[0].certifiedNormalAccommodation },
            { old: request.locations[0].currentWorkingCapacity, new: request.locations[0].workingCapacity},
            { old: request.locations[0].currentMaxCapacity, new: request.locations[0].maxCapacity }
          ]]
        }) }}
      {% elseif request.approvalType == 'SPECIALIST_CELL_TYPE' %}
        <div class="govuk-grid-column-two-thirds">
          {% if includeChangeSummary %}
            {{ certificationApprovalRequestSummary(request, null, locationMap, constants, false, false, changeLinks[request.approvalType]) }}
          {% endif %}

          {% if multiple %}
            <h3 class="govuk-heading-s">Proposed changes to the certificate</h3>
          {% else %}
            <h2 class="govuk-heading-m">Proposed changes to the certificate</h2>
          {% endif %}

          {% set hasCnaChange = request.locations[0].currentCertifiedNormalAccommodation
            != request.locations[0].certifiedNormalAccommodation %}
          {% set hasWcChange = request.locations[0].currentWorkingCapacity != request.locations[0].workingCapacity %}
          {% set hasMcChange = request.locations[0].currentMaxCapacity != request.locations[0].maxCapacity %}
          {% set hasStChange = request.locations[0].specialistCellTypes[0] and request.locations[0].specialistCellTypes[0] != request.locations[0].currentSpecialistCellTypes[0] %}

          {{ govukTable({
            attributes: {
              'data-qa': 'specialist-cell-type-table'
            },
            head: [
              { text: "Location" },
              { text: "Baseline CNA" } if hasCnaChange,
              { text: "Certified working capacity" } if hasWcChange,
              { text: "Maximum capacity" } if hasMcChange,
              { text: "Cell type" } if hasStChange
            ] | stripEmpty,
            rows:[[
              { text: request.locations[0].pathHierarchy },
              { text: request.locations[0].currentCertifiedNormalAccommodation + " → "
                + request.locations[0].certifiedNormalAccommodation } if hasCnaChange,
              { text: request.locations[0].currentWorkingCapacity+ " → " + request.locations[0].workingCapacity}
                if hasWcChange,
              { text: request.locations[0].currentMaxCapacity + " → " + request.locations[0].maxCapacity }
                if hasMcChange,
              { text: formatConstants(constants.specialistCellTypes, request.locations[0].currentSpecialistCellTypes[0], "<br>", "None") + " → " + formatConstants(constants.specialistCellTypes, request.locations[0].specialistCellTypes[0], "<br>", "None") }
                if hasStChange
            ] | stripEmpty]
          }) }}
        </div>
      {% elseif request.approvalType == 'CONVERT_CELL_TO_ROOM' %}
        <div class="govuk-grid-column-two-thirds">
          {% if includeChangeSummary %}
            {{ certificationApprovalRequestSummary(request, null, locationMap, constants, false, false, changeLinks[request.approvalType]) }}
          {% endif %}

          {% if multiple %}
            <h3 class="govuk-heading-s">Proposed changes to the certificate</h3>
          {% else %}
            <h2 class="govuk-heading-m">Proposed changes to the certificate</h2>
          {% endif %}
        </div>

        {% set convertedCellType = formatConstants(constants.convertedCellTypes, request.convertedCellType, '<br>', 'None') %}
        {% if request.otherConvertedCellType %}
          {% set convertedCellType = convertedCellType + ' - ' + request.otherConvertedCellType %}
        {% endif %}

        {{ comparisonTable({
          attributes: {
            'data-qa': 'non-res-conversion-change-table'
          },
          firstCellIsHeader: true,
          head: [
            { text: "Location" },
            { text: "Baseline CNA" },
            { text: "Certified working capacity" },
            { text: "Maximum capacity" },
            { text: "Cell type" },
            { text: "Sanitation" }
          ],
          rows: [[
            { new: request.locations[0].pathHierarchy },
            { old: request.locations[0].currentCertifiedNormalAccommodation, new: 'None' },
            { old: request.locations[0].currentWorkingCapacity, new: 'None' },
            { old: request.locations[0].currentMaxCapacity, new: 'None' },
            {
              old: formatConstants(constants.specialistCellTypes, request.locations[0].specialistCellTypes, ', '),
              new: convertedCellType
            },
            { old: request.locations[0].currentInCellSanitation | yesNo, new: 'None' }
          ]]
        }) }}
        {% elseif request.approvalType == 'CONVERT_ROOM_TO_CELL' %}
        <div class="govuk-grid-column-two-thirds">
          {% if includeChangeSummary %}
            {{ certificationApprovalRequestSummary(request, null, locationMap, constants, false, false, changeLinks[request.approvalType]) }}
          {% endif %}

          {% if multiple %}
            <h3 class="govuk-heading-s">Proposed changes to the certificate</h3>
          {% else %}
            <h2 class="govuk-heading-m">Proposed changes to the certificate</h2>
          {% endif %}
        </div>

        {% if request.topLevelAccommodationTypes %}
          {% set topLevelLocation = locationMap[locationMap[request.locationId].topLevelId] %}
          <div class="govuk-grid-column-two-thirds">
            {{ govukTable({
              attributes: {
                'data-qa': 'cell-usage-change-table'
              },
              head: [
                { text: "Location" },
                { text: "Accommodation type" },
                { text: "Used for" }
              ],
              rows: [[
                { text: topLevelLocation.localName or topLevelLocation.pathHierarchy, classes: 'govuk-table__header govuk-table__cell' },
                { html: formatConstants(constants.accommodationTypes, request.topLevelAccommodationTypes) },
                { html: formatConstants(constants.usedForTypes, request.topLevelUsedFor) }
              ]],
              firstCellIsHeader: true
            }) }}
          </div>
        {% endif %}

        {% set convertedCellType = formatConstants(constants.convertedCellTypes, request.currentConvertedCellType, ', ') %}
        {% if request.currentOtherConvertedCellType %}
          {% set convertedCellType = convertedCellType + ' - ' + request.currentOtherConvertedCellType %}
        {% endif %}

        {{ comparisonTable({
          attributes: {
            'data-qa': 'cell-conversion-change-table'
          },
          head: [
            { text: "Location" },
            { text: "Door number" },
            { text: "Baseline CNA" },
            { text: "Certified working capacity" },
            { text: "Maximum capacity" },
            { text: "Cell type" },
            { text: "Sanitation" }
          ],
          rows: [[
            { new: request.locations[0].pathHierarchy },
            { old: request.currentCellMark or 'None', new: request.cellMark },
            { old: 'None', new: request.certifiedNormalAccommodation },
            { old: 'None', new: request.workingCapacity },
            { old: 'None', new: request.maxCapacity },
            {
              old: convertedCellType,
              new: formatConstants(constants.specialistCellTypes, request.specialistCellTypes, ', ')
            },
            { old: 'None', new: request.inCellSanitation | yesNo }
          ]]
        }) }}
      {% endif %}
    </div>
  </div>
{% endmacro %}
