{% from "govuk/components/button/macro.njk" import govukButton %}
{% from "govuk/components/notification-banner/macro.njk" import govukNotificationBanner %}
{% from "govuk/components/summary-list/macro.njk" import govukSummaryList %}

{% macro inactiveLocationBanner(location) %}
  {% set locationName = location.localName or location.pathHierarchy %}
  {% set locationType = location.locationType %}
  {% set deactivatedReason = location.deactivatedReason %}
  {% if location.deactivationReasonDescription %}
    {% set deactivatedReason = deactivatedReason + " - " + location.deactivationReasonDescription %}
  {% endif %}

  {% set inactiveHtml %}
    <p class="govuk-notification-banner__heading">
      {{ locationType }} {{ locationName }} is temporarily inactive
    </p>

    {{ govukSummaryList({rows:[
      {
        key: {
        text: 'Reason'
      },
        value: {
        text: deactivatedReason
      }
      },
      {
        key: {
        text: 'Estimated reactivation date'
      },
        value: {
        text: location.proposedReactivationDate | formatDate
      }
      },
      {
        key: {
        text: 'Planet FM reference number'
      },
        value: {
        text: location.planetFmReference
      }
      }
    ]}) }}

    {% if location.deactivatedDate %}
      <span
          class="govuk-caption-s">Deactivated by {{ location.deactivatedBy }} on {{ location.deactivatedDate | formatDateWithTime }}.</span>
    {% endif %}
    {% if location.lastModifiedDate and (location.deactivatedBy != location.lastModifiedBy or location.deactivatedDate != location.lastModifiedDate) %}
      <span
          class="govuk-caption-s">Last updated by {{ location.lastModifiedBy }} on {{ location.lastModifiedDate | formatDateWithTime }}.</span>
    {% endif %}

    {% if location.raw.locationType == 'CELL' %}
      <br>

      {{ govukButton({
        text: "Activate " + (location.locationType | lower),
        classes: options.buttonClasses,
        preventDoubleClick: true,
        href: "/reactivate/cell/" + location.id
      }) }}
    {% endif %}
  {% endset %}

  {{ govukNotificationBanner({
    html: inactiveHtml,
    classes: 'govuk-notification-banner__headerless',
    attributes: {
      'data-qa': 'inactive-location-banner'
    }
  }) }}
{% endmacro %}