{% from "govuk/components/button/macro.njk" import govukButton %}

{% from "./locationTables/cells.njk" import cells %}
{% from "./locationTables/draftCells.njk" import draftCells %}
{% from "./locationTables/draftOther.njk" import draftOther %}
{% from "./locationTables/other.njk" import other %}

{% macro locationsTable(createButton, decoratedResidentialSummary) %}
  {% set locationType = decoratedResidentialSummary.subLocationName %}
  {% set locations = decoratedResidentialSummary.subLocations %}

  <h2 class="govuk-heading-m govuk-!-margin-bottom-3" data-qa="locations-table-caption">{{ locationType }}</h2>

  {% if createButton %}
    {{ govukButton(createButton) }}
  {% endif %}

  {% if locations | length %}
    {% if locationType == 'Cells' %}
      {% if decoratedResidentialSummary.location.status == 'DRAFT' %}
        {{ draftCells(locations) }}
      {% else %}
        {{ cells(locations) }}
      {% endif %}
    {% else %}
      {% if decoratedResidentialSummary.location.status == 'DRAFT' %}
        {{ draftOther(locations) }}
      {% else %}
        {{ other(locations) }}
      {% endif %}
    {% endif %}
  {% else %}
    <p>
      There are no {{ locationType | lower }} in this location.
    </p>
  {% endif %}
{% endmacro %}
