{% from "govuk/components/tag/macro.njk" import govukTag %}

{% macro locationStatusTag(location) %}
  {{ govukTag({
    text: location | locationStatusTagLabel,
    classes: location | locationStatusTagClass,
    attributes: {
      "data-qa": "status-tag"
    }
  }) }}

  {% if location.status.startsWith('LOCKED_') %}
    {{ govukTag({
      text: 'Change requested',
      classes: 'govuk-tag--purple',
      attributes: {
        "data-qa": "locked-tag"
      }
    }) }}
  {% endif %}
{% endmacro %}
