{% from "govuk/components/summary-list/macro.njk" import govukSummaryList %}
{% from "govuk/components/tabs/macro.njk" import govukTabs %}

{% macro locationDetails(location, details, history) %}
  <h3 class="govuk-heading-m">{{ location.locationType }} details</h3>

  {{ govukSummaryList({
    rows: details,
    attributes: {
      "data-qa": "location-details"
    },
    classes: "govuk-!-margin-bottom-8"
  }) }}
{% endmacro %}
