{% from "moj/components/ticket-panel/macro.njk" import mojTicketPanel %}
{% from "govuk/components/tag/macro.njk" import govukTag %}
{% from "govuk/components/button/macro.njk" import govukButton %}

{% macro lockedLocationBanner(decoratedResidentialSummary, canAccess, topLevelLocationSummary) %}
  {% set topLevelLocation = topLevelLocationSummary.parentLocation %}
  {% set location = decoratedResidentialSummary.location %}
  {% set locationName = location.displayName | capFirst %}
  {% set locationType = location.locationType | lower %}
  {% set panelColour = 'purple' %}

  {% set bannerHtml %}
      <div class="moj-ticket-panel__wrapper"><h3 class="govuk-heading-m govuk-!-margin-bottom-0 govuk-!-margin-right-2">Cell certificate change requested for this location</h3>{{ govukTag({
      text: 'Change requested',
      classes: "govuk-tag--purple govuk-\!-float-right",
      attributes: {
        "data-qa": "change-requested"
      }
    }) }}</div>


    <p>
        A change to this location on the cell certificate has been requested. You are unable to make any changes to this location until the request has been reviewed by the authorising director.
    </p>

    {% set viewRequestUrl = "/" + location.prisonId + "/cell-certificate/change-requests/" + (location.pendingApprovalRequestId or '') %}
    {% if canAccess('certificate_change_request_review') %}
      {% set viewRequestUrl = viewRequestUrl + '/review' %}
    {% endif %}
    {{ govukButton({
      text: "View request details",
      preventDoubleClick: true,
      href: viewRequestUrl,
      attributes: {
        'data-qa': 'view-request-details'
      }
    }) }}
  {% endset %}

  {{ mojTicketPanel({
    attributes: {
      'data-qa': 'draft-location-banner'
    },
    items: [{
      html: bannerHtml,
      classes: 'moj-ticket-panel__content--' + panelColour + ' ' + 'govuk-!-margin-bottom-7'
    }]
  }) }}
{% endmacro %}
