{% extends "../../partials/layout.njk" %}

{% from "govuk/components/button/macro.njk" import govukButton %}
{% from "govuk/components/error-summary/macro.njk" import govukErrorSummary %}
{% from "govuk/components/back-link/macro.njk" import govukBackLink %}
{% from "govuk/components/radios/macro.njk" import govukRadios %}

{% set displayName = decoratedResidentialSummary.location.displayName %}
{% set locationName = decoratedResidentialSummary.location.localName or decoratedResidentialSummary.location.pathHierarchy %}
{% set title = 'Delete' + ' ' + locationType + ' ' + displayName %}

{% block beforeContent %}
  <div class="govuk-width-container">
    <div class="govuk-grid-row govuk-!-margin-bottom-0">
      <div class="govuk-grid-column-two-thirds">
        {{ govukBackLink({
          text: "Back",
          href: backLink
        }) }}

        {% if errorlist.length %}
          {{ govukErrorSummary({
            titleText: "There is a problem",
            errorList: validationErrors,
            classes: "govuk-!-margin-top-7 govuk-!-margin-bottom-0"
          }) }}
        {% endif %}
      </div>
    </div>
  </div>
{% endblock %}

{% block heading %}
    <div class="govuk-grid-row govuk-!-margin-bottom-2">
      <div class="govuk-grid-column-two-thirds">
        <span class="govuk-caption-m" data-qa="cell-name">{{ displayName | capFirst }}</span>
        <h1 class="govuk-heading-l">Are you sure you want to delete this {{ locationType }}?</h1>
        <p class="govuk-body govuk-!-margin-bottom-6">
        The {{ locationType }} and any locations that are part of it will be deleted and cannot be restored.
        </p>
      </div>
    </div>
{% endblock %}

{% block content %}
  {% set formMethod = options.method | default('post') %}
  {% set formAction = options.action | default('') %}
  {% set formEnctype = options.enctype | default('') %}

  <div class="govuk-width-container">
    <div class="govuk-grid-row">
      <div class="govuk-grid-column-two-thirds">

        <form method="{{ formMethod }}" action="{{ formAction }}"
          {% if formEnctype %}
            enctype="{{ formEnctype }}"
          {% endif %}
        >

          {% if formMethod == 'post' %}
            <input type="hidden" name="_csrf" value="{{ csrfToken }}">
          {% endif %}

          <div class="govuk-button-group">
            {% block formActions %}
              {% block submitAction %}
                {{ govukButton({
                  text: "Delete" + ' ' + locationType,
                  classes: "govuk-button--warning",
                  preventDoubleClick: true,
                  type: "submit"
                }) }}
              {% endblock %}
            {% endblock %}
          </div>
        </form>

        <p class="govuk-body">
          <a href="{{ backLink }}" class="govuk-link govuk-link--no-visited-state">
            Cancel and return to location details
          </a>
        </p>
      </div>
    </div>
  </div>
{% endblock %}
