{% extends "../../partials/formStep.njk" %}

{% block heading %}
  {{ super() }}
  <p class="govuk-body">The {{ locationType }} and any locations that are part of it will be deleted and cannot be restored.</p>
{% endblock %}

 {% block submitAction %}
     {{ govukButton({
       text: "Delete" + ' ' + locationType,
       classes: "govuk-button--warning",
       preventDoubleClick: true,
       type: "submit"
     }) }}
 {% endblock %}

