{% macro authCard(card) %}
  <div class="govuk-grid-column-one-third auth-card-group__item">
    <div class="auth-card auth-card--clickable">
      <h3 class="govuk-heading-m auth-card__heading">
        <a class="govuk-link auth-card__link" href="{{ card.href }}">
          {{ card.title }}
        </a>
      </h3>
      <p class="govuk-body auth-card__description">
        {{ card.description }}
      </p>
    </div>
  </div>
{% endmacro %}
