<h3>Baseline certified normal accommodation (CNA)</h3>
The number of people that can live in a cell without it being considered overcrowded.<br><br>
<h3>Working capacity</h3>
The number of people that can currently live in this location based on available beds, furniture and sanitation.<br><br>
<h3>Maximum capacity</h3>
The maximum number of people that could potentially live in this location.
