{% extends "partials/layout.njk" %}

{% set title = "View management report" %}

{% block pageStylesheets %}
  <link href="{{ "/assets/css/dpr.css" | assetMap }}" rel="stylesheet" />
{% endblock %}

{% block pageJavascript %}
  <script type="module" src="{{ "/assets/js/dpr.js" | assetMap }}"></script>
{% endblock %}
