{% extends "govuk/template.njk" %}

{% from "govuk/components/back-link/macro.njk" import govukBackLink %}
{% from "govuk/components/notification-banner/macro.njk" import govukNotificationBanner %}

{% from "../macros/breadcrumb.njk" import breadcrumb %}
{% from "../macros/feedbackBanner.njk" import feedbackBanner %}

{% set mainClasses = "app-container govuk-body" %}
{% set minLayout = minLayout or 'two-thirds' %}
{% set pageTitle = title if title === applicationName else title + ' - ' + applicationName %}
{% block pageTitle %}{{ pageTitle | default(applicationName) }}{% endblock %}

{% block head %}
  {% block pageStylesheets %}
    <link href="{{ '/assets/css/index.css' | assetMap }}" rel="stylesheet"/>
  {% endblock %}


  {% if googleAnalyticsMeasurementId %}
    <!-- Global site tag (gtag.js) - Google Analytics -->
    <script async src="https://www.googletagmanager.com/gtag/js?id={{ googleAnalyticsMeasurementId }}"></script>
    <script nonce="{{ cspNonce }}">
      window.dataLayer = window.dataLayer || []

      function gtag() {
        dataLayer.push(arguments)
      }

      gtag('js', new Date())
      gtag('config', '{{ googleAnalyticsMeasurementId }}', {
        active_case_load: '{{ user.activeCaseload.id | default('') }}',
      })
    </script>
  {% endif %}

  {% if googleTagManagerContainerId %}
    <!-- Google Tag Manager -->
    <script nonce="{{ cspNonce }}" crossorigin>(function(w, d, s, l, i) {
        w[l] = w[l] || []
        w[l].push({
          'gtm.start':
            new Date().getTime(), event: 'gtm.js',
        })
        var f = d.getElementsByTagName(s)[0],
          j = d.createElement(s), dl = l != 'dataLayer' ? '&l=' + l : ''
        j.async = true
        j.src =
          'https://www.googletagmanager.com/gtm.js?id=' + i + dl
        f.parentNode.insertBefore(j, f)
      })(window, document, 'script', 'dataLayer', '{{ googleTagManagerContainerId }}')</script>
    <!-- End Google Tag Manager -->
  {% endif %}

  <script src="/assets/js/jquery.min.js"></script>

  {% if feComponents.jsIncludes %}
    {% for js in feComponents.jsIncludes %}
      <script src="{{ js }}" nonce="{{ cspNonce }}"></script>
    {% endfor %}
  {% endif %}

  {% if feComponents.cssIncludes %}
    {% for css in feComponents.cssIncludes %}
      <link href="{{ css }}" nonce="{{ cspNonce }}" rel="stylesheet" />
    {% endfor %}
  {% endif %}
{% endblock %}

{% block header %}
  {% if feComponents.header %}
    {{ feComponents.header | safe }}
  {% else %}
    {% include "./header.njk" %}
  {% endif %}
{% endblock %}

{% block footer %}
  {% if feedbackFormUrl %}
    {{ feedbackBanner({
      feedbackBannerAdditionalClasses: feedbackBannerBackground,
      feedbackFormUrl: feedbackFormUrl
    }) }}
  {% endif %}
  {% if feComponents.footer %}
    {{ feComponents.footer | safe }}
  {% else %}
    {% include "./footer.njk" %}
  {% endif %}
{% endblock %}

{% block bodyStart %}
  {% if googleTagManagerContainerId %}
    <!-- Google Tag Manager (noscript) -->
    <noscript>
      <iframe src="https://www.googletagmanager.com/ns.html?id={{ googleTagManagerContainerId }}"
              height="0" width="0" style="display:none;visibility:hidden"></iframe>
    </noscript>
    <!-- End Google Tag Manager (noscript) -->
  {% endif %}
{% endblock %}

{% block main %}
  {% block topBanner %}
    {% if sandbox %}
      {% block topBannerContent %}
        <div id="top-banner">
          <div class="govuk-width-container">
            <div class="govuk-grid-row">
              <div class="govuk-grid-column-three-quarters">
                <h1 class="govuk-heading-l govuk-!-padding-top-5 govuk-!-margin-bottom-5">
                  Residential locations (practice version)
                </h1>
                <a role="button" class="govuk-button govuk-button--inverse" href="{{ productionUrl }}">
                  Switch to the live service
                </a>
              </div>
            </div>
          </div>
        </div>
      {% endblock %}
    {% endif %}
  {% endblock %}

  {% block beforeContent %}
    <div class="govuk-width-container">
      <div class="govuk-grid-row govuk-!-margin-bottom-0">
        <div class="govuk-grid-column-{{ minLayout }}">
          {% if backLink %}
            {% block backButton %}
              {{ govukBackLink({
                text: backLinkText or "Back",
                href: backLink
              }) }}
            {% endblock %}
          {% else %}
            {{ breadcrumb('', breadcrumbs, false) }}
          {% endif %}

          {% if errorlist.length %}
            {{ govukErrorSummary({
              titleText: "There is a problem",
              errorList: validationErrors,
              classes: "govuk-!-margin-top-7 govuk-!-margin-bottom-0"
            }) }}
          {% endif %}
        </div>
      </div>
    </div>

    {% if banner.success %}
      {% set html %}
        <h3 class="govuk-notification-banner__heading">
          {{ banner.success.title }}
        </h3>
        <p class="govuk-body">
          {{ banner.success.content }}
        </p>
      {% endset %}

      <div class="govuk-width-container">
        <div class="govuk-grid-row govuk-!-margin-bottom-0">
          <div class="govuk-grid-column-{{ minLayout }}">
            {{ govukNotificationBanner({
              html: html,
              type: "success",
              classes: "govuk-!-margin-top-7 govuk-!-margin-bottom-0"
            }) }}
          </div>
        </div>
      </div>
    {% endif %}
  {% endblock %}

  <main class="govuk-main-wrapper" id="main-content" role="main">
    <div class="govuk-width-container">
      {% block outerHeading %}
        <div class="govuk-grid-row{{ ' govuk-!-margin-bottom-2' if removeHeadingSpacing }}">
          <div class="govuk-grid-column-{{ minLayout }}">
            {% block heading %}
              {% if titleCaption %}
                <span class="govuk-caption-m" data-qa="title-caption">{{ titleCaption }}</span>
              {% endif %}
              <h1 class="govuk-heading-l govuk-!-margin-bottom-1">{{ title }}</h1>
            {% endblock %}
          </div>
        </div>
      {% endblock %}
    </div>

    {% block content %}{% endblock %}
  </main>
{% endblock %}

{% block bodyEnd %}
   {% if sandbox %}
     <div class="sticky-footer sticky-footer-sandbox">
   {% else %}
     <div class="sticky-footer">
    {% endif %}
    {% block stickyFooterContent %}
    {% endblock %}

    {% if sandbox %}
      <div class="sticky-footer__testing-banner">
        <h2 class="sticky-footer__testing-banner__heading">
          Practice version
        </h2>

        <ul class="sticky-footer__testing-banner__items">
          <li class="sticky-footer__testing-banner__item">
            <a href="{{ productionUrl }}">Switch to live service</a>
          </li>
        </ul>
      </div>
    {% endif %}
  </div>

 {% block pageJavascript %}
  <script type="module" src="{{ '/assets/js/index.js' | assetMap }}"></script>
 {% endblock %}
{% endblock %}
