{% extends "govuk/template.njk" %}

{% from "./breadcrumb.njk" import breadcrumb %}
{% from "govuk/components/back-link/macro.njk" import govukBackLink %}

{% block head %}
  <link href="/assets/stylesheets/application.css?{{ version }}" rel="stylesheet"/>

  <script src="/assets/js/jquery.min.js"></script>

  {% if feComponents.jsIncludes %}
    {% for js in feComponents.jsIncludes %}
      <script src="{{ js }}" nonce="{{ cspNonce }}"></script>
    {% endfor %}
  {% endif %}

  {% if feComponents.cssIncludes %}
    {% for css in feComponents.cssIncludes %}
      <link href="{{ css }}" nonce="{{ cspNonce }}" rel="stylesheet" />
    {% endfor %}
  {% endif %}
{% endblock %}

{% block pageTitle %}{{pageTitle | default(applicationName)}}{% endblock %}

{% block header %}
  {% if feComponents.header %}
    {{ feComponents.header | safe }}
  {% else %}
    {% include "./header.njk" %}
  {% endif %}
{% endblock %}

{% block footer %}
  {% if feComponents.footer %}
    {{ feComponents.footer | safe }}
  {% else %}
    {% include "./footer.njk" %}
  {% endif %}
{% endblock %}

{% block bodyStart %}
{% endblock %}


{% block beforeContent %}
  {% if breadcrumbs | length %}
    {{ breadcrumb('', breadcrumbs, false) }}
  {% else %}
    {{ govukBackLink({
      text: "Digital Prison Services",
      href: dpsUrl
    }) }}
  {% endif %}
{% endblock %}

{% block bodyEnd %}
  <script type="module" src="/assets/govukFrontendInit.js"></script>
  <script src="/assets/moj/all.js"></script>
  <script src="/assets/mojFrontendInit.js"></script>
{% endblock %}
