{% extends "../../partials/formStep.njk" %}

{% block fields %}
  {{ super() }}

  {% set workingCapHint %}
    <p>Set the working capacity to 0 for special accommodation cells as they should only be used for temporary housing:</p>
    <ul>
      <li>Biohazard cells</li>
      <li>Care and separation cells</li>
      <li>Dry cells</li>
      <li>Unfurnished cells</li>
    </ul>
  {% endset %}

  {{ govukInsetText({
    html: workingCapHint
  }) }}
{% endblock %}
