{% extends "../../partials/formStep.njk" %}

{% from "govuk/components/summary-list/macro.njk" import govukSummaryList %}
{% from "govuk/components/inset-text/macro.njk" import govukInsetText %}

{% block fields %}
  {{ govukSummaryList({
    card: {
      title: {
        text: "Capacity"
      },
      actions: {
        items: [ { href: backLink, text: "Change" } ]
      }
    },
    rows: [
      {
        key: { text: "Baseline certified normal accommodation (CNA)" },
        value: { text: values.baselineCna }
      } if values.baselineCna != '' and values.baselineCna != decoratedLocation.capacity.certifiedNormalAccommodation,
      {
        key: { text: "Working capacity" },
        value: { text: values.workingCapacity }
      },
      {
        key: { text: "Maximum capacity" },
        value: { text: values.maxCapacity }
      } if  values.maxCapacity != decoratedLocation.capacity.maxCapacity
    ]
  }) }}

  <div class="govuk-!-padding-bottom-2 change-summary">
    <h2 class="govuk-heading-m">Change to cell's capacity</h2>

    <p>{{ changeSummary | safe }}</p>
  </div>

  {% if showCertMismatchWarning %}
    {{ govukInsetText({
      text: "The cell's working capacity will not match the certified working capacity once you update the capacity."
    }) }}
  {% endif %}
{% endblock %}
