{% extends "../../partials/formStep.njk" %}

{% from "govuk/components/summary-list/macro.njk" import govukSummaryList %}

{% block fields %}
  {{ govukSummaryList({
    card: {
      title: {
        text: "Working capacity"
      },
      actions: {
        items: [ { href: backLink, text: "Change" } ]
      }
    },
    rows: [
      {
        key: { text: "Working capacity" },
        value: { text: values.workingCapacity }
      }
    ]
  }) }}

  {% if changeSummary %}
    <div class="govuk-!-padding-bottom-2 change-summary">
      <h2 class="govuk-heading-m">Change to cell's working capacity</h2>

      <p>{{ changeSummary | safe }}</p>
    </div>
  {% endif %}
{% endblock %}
