{% extends "../../partials/formStep.njk" %}

{% from "govuk/components/summary-list/macro.njk" import govukSummaryList %}

{% block fields %}
  {{ govukSummaryList({
    card: {
      title: {
        text: "Capacity"
      },
      actions: {
        items: [ { href: backLink, text: "Change" } ] if canAccess('change_max_capacity')
      }
    },
    rows: [
      {
        key: { text: "Working capacity" },
        value: { text: values.workingCapacity },
        actions: {
          items: [
            {
              href: backLink,
              text: "Change"
            }
          ] if not canAccess('change_max_capacity')
        }
      },
      {
        key: { text: "Maximum capacity" },
        value: { text: values.maxCapacity }
      }
    ]
  }) }}

  <div class="govuk-!-padding-bottom-2 change-summary">
    <h2 class="govuk-heading-m">Change to {{ 'cell’s' if canAccess('change_max_capacity') else 'working' }} capacity</h2>

    <p>{{ changeSummary | safe }}</p>
  </div>
{% endblock %}
