{% extends "../../partials/formStep.njk" %}

{% block fields %}
  <div class="govuk-!-padding-bottom-2 current-signed-operational-capacity-summary">
    <h2 class="govuk-heading-m">Current signed operational capacity</h2>
    <p>{{ currentSignedOperationalCapacity }}</p>
    {% if lastUpdate %}
      <p class="govuk-body-s">
        Last updated by {{ lastUpdate.updatedBy }}
        on {{ lastUpdate.date }}
        at {{ lastUpdate.time }}
      </p>
    {% endif %}
  </div>

  {{ super() }}
{% endblock %}
