{% extends "partials/layout.njk" %}

{% set reportShown = false %}

{% block content %}
  <div class="govuk-width-container">
    <div class="govuk-grid-row govuk-!-margin-bottom-0">
      <div class="govuk-grid-column-{{ minLayout }}">
        {% for definition in definitions %}
          {% if definition.authorised %}
            {% set reportShown = true %}
            <h2 class="govuk-heading-m">{{ definition.name }}</h2>
            <p class="govuk-body">{{ definition.description }}</p>

            {% for variant in definition.variants %}
              <h3 class="govuk-heading-s"><a id="{{ definition.id }}-{{ variant.id }}"
                                             href="/management-reporting/{{ definition.id }}-{{ variant.id }}"
                                             class="govuk-link"> {{ variant.name }} </a></h3>
              <p class="govuk-body">{{ variant.description }}</p>

            {% endfor %}
          {% endif %}
        {% endfor %}
        {% if not reportShown %}
          <p class="govuk-body">No management reports available</p>
        {% endif %}
      </div>
    </div>
  </div>
{% endblock %}
