{% extends "../../partials/formStep.njk" %}

{% from "govuk/components/warning-text/macro.njk" import govukWarningText %}

{% block heading %}
  {{ super() }}

  {{ govukWarningText({
    text: 'This change will apply to all normal accommodation locations in ' + decoratedLocation.displayName | capFirst + '.',
    iconFallbackText: "Warning"
  }) if not decoratedLocation.leafLevel }}
{% endblock %}
