{% extends "../../../partials/layout.njk" %}

{% from "govuk/components/back-link/macro.njk" import govukBackLink %}
{% from "govuk/components/button/macro.njk" import govukButton %}
{% from "govuk/components/date-input/macro.njk" import govukDateInput %}
{% from "govuk/components/details/macro.njk" import govukDetails %}
{% from "govuk/components/error-summary/macro.njk" import govukErrorSummary %}
{% from "govuk/components/input/macro.njk" import govukInput %}
{% from "govuk/components/inset-text/macro.njk" import govukInsetText %}
{% from "govuk/components/radios/macro.njk" import govukRadios %}

{% from "../../../macros/locationsTable.njk" import locationsTable %}
{% from "../../../macros/miniSummary.njk" import miniSummary %}

{% set title = "Deactivation details" %}

{% block heading %}
  <div class="govuk-grid-row govuk-!-margin-bottom-0">
    <div class="govuk-grid-column-two-thirds">
      <span class="govuk-caption-m" data-qa="cell-name">{{ location.displayName | capFirst }}</span>
      <h1 class="govuk-heading-l">Deactivation details</h1>
    </div>
  </div>
{% endblock %}

{% block beforeContent %}
  <div class="govuk-width-container">
    <div class="govuk-grid-row govuk-!-margin-bottom-0">
      <div class="govuk-grid-column-two-thirds">
        {{ govukBackLink({
          text: "Back",
          href: backLink
        }) }}

        {% if errorlist.length %}
          {{ govukErrorSummary({
            titleText: "There is a problem",
            errorList: validationErrors,
            classes: "govuk-!-margin-top-7 govuk-!-margin-bottom-0"
          }) }}
        {% endif %}
      </div>
    </div>
  </div>

{% endblock %}

{% block content %}
  {% set formMethod = options.method | default('post') %}
  {% set formAction = options.action | default('') %}
  {% set formEnctype = options.enctype | default('') %}

  <div class="govuk-width-container">
    <div class="govuk-grid-row govuk-!-margin-bottom-0">
      <div class="govuk-grid-column-two-thirds">

        <form method="{{ formMethod }}" action="{{ formAction }}"
            {% if formEnctype %}
              enctype="{{ formEnctype }}"
            {% endif %}
        >

          {% if formMethod == 'post' %}
            <input type="hidden" name="_csrf" value="{{ csrfToken }}">
          {% endif %}

          {% block fields %}
          
            {% for key, fieldsOptions in fields %}
              {% if fieldsOptions.component and not fieldsOptions.skip %}
                {% if fieldsOptions.component == "govukDateInput" %}
                  {% set fieldsOptions = { 
                    "component":"govukDateInput",
                    "id": fieldsOptions.id,
                    "name": fieldsOptions.name,
                    "label": fieldsOptions.label,
                    "fieldset": fieldsOptions.fieldset,
                    "nameForErrors": fieldsOptions.nameForErrors,
                    "items": [
                      {
                        "label": fieldsOptions.items[0].label,
                        "id": fieldsOptions.items[0].id,
                        "name": fieldsOptions.items[0].name,
                        "classes": fieldsOptions.items[0].classes,
                        "value": fieldsOptions.items[0].value,
                        "attributes": {
                          "autocomplete": "off"
                        }
                      },
                      {
                        "label": fieldsOptions.items[1].label,
                        "id": fieldsOptions.items[1].id,
                        "name": fieldsOptions.items[1].name,
                        "classes": fieldsOptions.items[1].classes,
                        "value": fieldsOptions.items[1].value,
                        "attributes": {
                          "autocomplete": "off"
                        }
                      },
                      {
                        "label": fieldsOptions.items[2].label,
                        "id": fieldsOptions.items[2].id,
                        "name": fieldsOptions.items[2].name,
                        "classes": fieldsOptions.items[2].classes,
                        "value": fieldsOptions.items[2].value,
                        "attributes": {
                          "autocomplete": "off"
                        }
                      }
                    ],
                    "errorMessage": fieldsOptions.errorMessage
                    } 
                    %}
                {% endif %}
                  {{ callAsMacro(fieldsOptions.component)(fieldsOptions) }}
              {% endif %}
            {% endfor %}
          {% endblock %}

          <div class="govuk-button-group">
            {% block formActions %}
              {% block submitAction %}
                {{ govukButton({
                  text: "Continue",
                  classes: options.buttonClasses,
                  preventDoubleClick: true,
                  type: "submit"
                }) }}
              {% endblock %}
            {% endblock %}
          </div>
        </form>

        <p class="govuk-body">
          <a href="{{ cancelLink }}" class="govuk-link govuk-link--no-visited-state">
            Cancel and return to location details
          </a>
        </p>
      </div>
    </div>
  </div>
{% endblock %}
