{% extends "../../partials/layout.njk" %}

{% from "moj/components/sub-navigation/macro.njk" import mojSubNavigation %}

{% from "../../macros/cellCertificate.njk" import cellCertificate %}

{% block heading %}
  {{ super() }}

  {{ mojSubNavigation({
    label: "Sub navigation",
    items: [{
      text: "Current cell certificate",
      href: "/" + prisonId + "/cell-certificate/current",
      active: true
    }, {
      text: "Change requests (" + approvalRequests | length + ")",
      href: "/" + prisonId + "/cell-certificate/change-requests"
    }]
  }) }}
{% endblock %}

{% block content %}
  <div class="govuk-width-container">
    <h2 class="govuk-heading-l">Current cell certificate</h2>

    {% if certificate %}
      <p data-qa="last-approval">
        Last change approved by {{ userMap[certificate.approvedBy] }} on {{ certificate.approvedDate | formatDateWithTimeAndDay }}.
      </p>

      <p>
        <a href="/{{ prisonId }}/cell-certificate/history" class="govuk-link">View history of certificate changes</a>
      </p>

      {{ cellCertificate(certificate, accommodationTypeConstants, usedForConstants, specialistCellTypesObject) }}
    {% else %}
      <p>This prison does not have a cell certificate.</p>
    {% endif %}
  </div>
{% endblock %}
