{% extends "../../partials/formStep.njk" %}

{% block fields %}
  <p class="govuk-body govuk-!-margin-bottom-6">
    The location will appear as the location code (for example A or A-1) if the local name is removed.
  </p>
{% endblock %}
