{% extends "../../../partials/formStep.njk" %}

{% from "govuk/components/summary-list/macro.njk" import govukSummaryList %}
{% from "govuk/components/notification-banner/macro.njk" import govukNotificationBanner %}

{% set certApprovalHtml %}
  <span class="hmpps-inactive-location-banner">
      {{ govukSummaryList({
        rows: [
          {
            key: { text: 'Prison' },
            value: { text: prisonConfiguration.prisonId }
          },
          {
            key: { text: 'Certification approval required' },
            value: { text: prisonConfiguration.certificationApprovalRequired }
          }
        ],
        classes: 'hmpps-inactive-location-banner-summary-list'
      }) }}
  </span>
{% endset %}

{% block fields %}
  {{ govukNotificationBanner({
    html: certApprovalHtml,
    classes: 'govuk-notification-banner__headerless'
  }) }}

  <input type="hidden" name="activation" value="{{ 'IN' if prisonConfiguration.certificationApprovalRequired == 'ACTIVE' }}ACTIVE">

  {{ super() }}
{% endblock %}
