body {
  margin: 0;
}

.govuk-main-wrapper {
  min-height: 600px;
}

.body-tiles {
  margin-left: -51.8vw;
  margin-right: -51.8vw;
  margin-bottom: -40px;
  background: #f0f4f5;
  min-height: 500px;
  padding: 30px 51.8vw 40px;
}

h1.govuk-heading-l .govuk-tag {
  vertical-align: middle;
  margin-bottom: 5px;
  margin-left: 2px;
}

div.govuk-grid-row {
  margin-bottom: 24px;
}

details.govuk-details {
  margin-top: -24px;
}

div.govuk-notification-banner.govuk-notification-banner__headerless {
  .govuk-notification-banner__header {
    display: none;
  }
}

.govuk-caption-s {
  @include govuk-font($size: 16);
  display: block;
  color: $govuk-secondary-text-colour;

  margin-top: 16px;
}

.govuk-tag--hollow {
  background: none;
  border: 2px solid black;
  color: black;
  padding: 0 6px 1px;
}

h1 .govuk-caption-l {
  @include govuk-font($size: 36, $weight: bold);
  display: inline-block;
}

.govuk-\!-width-one-sixth {
  width: 100%;
}

.govuk-\!-width-four-sixths {
  width: 100%;
}

@media (min-width: 40.0625em) {
  .govuk-\!-width-one-sixth {
    width: 16.666%;
  }

  .govuk-\!-width-four-sixths {
    width: 66.666%;
  }
}

.govuk-\!-float-right {
  float: right;
}

.govuk-panel {
  p.govuk-body-l {
    @include govuk-font($size: 24);
  }
}

.govuk-panel--left-align {
  text-align: left;
}

.govuk-panel--brand-colour {
  background: $govuk-brand-colour;

  p {
    color: govuk-colour("white");
  }
}
