{% extends "../../partials/formStep.njk" %}

{% from "govuk/components/summary-list/macro.njk" import govukSummaryList %}
{% from "govuk/components/warning-text/macro.njk" import govukWarningText %}

{% block fields %}
  {{ govukSummaryList({
    card: {
      title: {
        text: "Conversion details"
      }
    },
    rows: summaryListRows
  }) }}

  <div class="govuk-!-padding-bottom-2 change-summary">
    <h2 class="govuk-heading-m">Change to establishment capacity</h2>

    {{ govukWarningText({
      text: "This cell will be certified and active.",
      iconFallbackText: "Warning",
      classes: "govuk-!-margin-bottom-5"
    }) }}

    <p>{{ changeSummary | safe }}</p>
  </div>
{% endblock %}
