{% extends "../../partials/formStep.njk" %}

{% block heading %}
  {{ super() }}

  <h2 class="govuk-heading-m govuk-!-margin-top-6">
    Does the cell have in-cell sanitation?
  </h2>
{% endblock %}
