{% extends "pages/setCellType/change.njk" %}

{% set title = 'Convert to cell' %}

{% block pageTitle %}{{ 'Select what type of cell it is - Convert to cell - ' + applicationName }}{% endblock %}

{% block heading %}
  <span class="govuk-caption-m" data-qa="cell-name">{{ decoratedLocation.displayName | capFirst }}</span>
  <h1 class="govuk-heading-l">Convert to cell</h1>
{% endblock %}
