{% extends "pages/changeCellCapacity/change.njk" %}

{% set title = 'Set cell capacity' %}

{% block pageTitle %}{{ 'Set cell capacity - Convert to cell - ' + applicationName }}{% endblock %}

{% block heading %}
  <span class="govuk-caption-m" data-qa="cell-name">{{ location.displayName | capFirst }}</span>
  <h1 class="govuk-heading-l">Set cell capacity</h1>
{% endblock %}
