generic-service:
  nameOverride: hmpps-locations-inside-prison
  productId: "DPS038" # productId for the product that this belongs too, i.e. DPS001, see README.md for details

  # the IRSA service account name for accessing AWS resources
  # serviceAccountName: "hmpps-template-typescript"

  replicaCount: 4

  image:
    repository: ghcr.io/ministryofjustice/hmpps-locations-inside-prison
    tag: app_version # override at deployment time
    port: 3000

  ingress:
    enabled: true
    host: app-hostname.local # override per environment
    tlsSecretName: locations-inside-prison-cert
    modsecurity_enabled: true  # enable OWASP core rules then handle false positives by removing or tweaking rules to not block specific args or cookies
    modsecurity_audit_enabled: false
    modsecurity_snippet: |
      SecRuleEngine On
      {{ if .Values.ingress.modsecurity_audit_enabled -}}
      SecAuditEngine RelevantOnly
      SecAuditLog /var/log/nginx/error.log
      SecAuditLogType Serial
      {{ end -}}
      SecRuleRemoveById 920320
      SecRuleRemoveById 920300
      SecRuleRemoveById 920440
      SecRuleRemoveById 942110
      SecRuleRemoveById 913101
      SecRuleUpdateTargetById 931130 "!ARGS:/redirect_uri/"
      SecRuleUpdateTargetById 942440 "!REQUEST_COOKIES:/jwtSession/"
      SecRuleUpdateTargetById 942450 "!REQUEST_COOKIES:/jwtSession/"
      SecRuleUpdateTargetById 930120 "!REQUEST_COOKIES:/jwtSession/"
      SecRuleUpdateTargetById 942210 "!REQUEST_COOKIES:/jwtSession/"
      SecRuleUpdateTargetById 920450 "!REQUEST_HEADERS_NAMES:/accept-charset/"
      SecRuleUpdateTargetById 933150 "!REQUEST_COOKIES:/jwtSession/"
      SecAction "id:900200,phase:1,nolog,pass,t:none,setvar:tx.allowed_methods=GET HEAD PATCH POST OPTIONS PUT DELETE"
      SecDefaultAction "phase:2,pass,log,tag:github_team=move-a-prisoner"
      SecRule REQUEST_METHOD "POST" \
        "id:10000, \
        phase:2, \
        t:none, \
        ctl:ruleRemoveById=949110, \
        nolog, \
        pass"
      SecDefaultAction "phase:4,pass,log,tag:github_team=move-a-prisoner"
      SecRuleUpdateActionById 959100 "t:none,deny,status:406,logdata:%{SERVER_NAME}"

  livenessProbe:
    httpGet:
      path: /ping

  readinessProbe:
    httpGet:
      path: /ping

  # Environment variables to load into the deployment
  env:
    NODE_ENV: 'production'
    REDIS_ENABLED: 'true'
    REDIS_TLS_ENABLED: 'true'
    TOKEN_VERIFICATION_ENABLED: 'true'
    AUDIT_SQS_REGION: 'eu-west-2'
    AUDIT_SERVICE_NAME: 'UNASSIGNED' # Your audit service name
    LOAD_DPR_ON_STARTUP: "true"
    FLAG_NON_RESI: disabled

  # Pre-existing kubernetes secrets to load as environment variables in the deployment.
  # namespace_secrets:
  #   [name of kubernetes secret]:
  #     [name of environment variable as seen by app]: [key of kubernetes secret to load]

  namespace_secrets:
    hmpps-locations-inside-prison-application-insights:
      APPLICATIONINSIGHTS_CONNECTION_STRING: "APPLICATIONINSIGHTS_CONNECTION_STRING"

    hmpps-locations-inside-prison-auth-code:
      AUTH_CODE_CLIENT_ID: "AUTH_CODE_CLIENT_ID"
      AUTH_CODE_CLIENT_SECRET: "AUTH_CODE_CLIENT_SECRET"

    hmpps-locations-inside-prison-client-creds:
      CLIENT_CREDS_CLIENT_ID: "CLIENT_CREDS_CLIENT_ID"
      CLIENT_CREDS_CLIENT_SECRET: "CLIENT_CREDS_CLIENT_SECRET"

    hmpps-locations-inside-prison-session-secret:
      SESSION_SECRET: 'SESSION_SECRET'

    hmpps-locations-inside-prison:
      FEEDBACK_FORM_URL: "FEEDBACK_FORM_URL?"
      GOOGLE_ANALYTICS_MEASUREMENT_API_SECRET: 'GOOGLE_ANALYTICS_MEASUREMENT_API_SECRET?'
      GOOGLE_ANALYTICS_MEASUREMENT_ID: 'GOOGLE_ANALYTICS_MEASUREMENT_ID?'
      GOOGLE_TAG_MANAGER_CONTAINER_ID: "GOOGLE_TAG_MANAGER_CONTAINER_ID?"
      NOTIFY_API_KEY: NOTIFY_API_KEY
    elasticache-redis:
      REDIS_HOST: 'primary_endpoint_address'
      REDIS_AUTH_TOKEN: 'auth_token'
    #sqs-hmpps-audit-secret:
    #  AUDIT_SQS_QUEUE_URL: "sqs_queue_url"
    #  AUDIT_SQS_QUEUE_NAME: "sqs_queue_name"

  allowlist:
    groups:
      - digital_staff_and_mojo
      - moj_cloud_platform
      - prisons
      - private_prisons

generic-prometheus-alerts:
  targetApplication: hmpps-locations-inside-prison
  alertSeverity: move-a-prisoner-alerts-nonprod
