{% extends "../../../partials/formStep.njk" %}

{% from "govuk/components/table/macro.njk" import govukTable %}

{% macro capacityTable(decoratedLocationTree, parentLocation) %}
  {{ govukButton({
    text: "Edit cell " + ("capacity" if decoratedLocation.leafLevel else "capacities") + " and " + ("type" if decoratedLocation.leafLevel else "types"),
    classes: "govuk-button--secondary",
    preventDoubleClick: true,
    href: "/reactivate/location/" + decoratedLocation.id + "/edit-capacity/" + parentLocation.id
  }) }}

  {% set cells = decoratedLocationTree.filter(propEquals.bind(null, 'decoratedLocation.raw.locationType', 'CELL')) %}
  {% if cells | length %}
    {% set rows = [] %}
    {% for cellData in cells %}
      {% set cell = cellData.decoratedLocation %}
      {% set modifiedCell = modifiedLocationMap[cell.id] %}
      {% set baselineCna = (modifiedCell.capacity.certifiedNormalAccommodation or 0) | string %}
      {% set workingCapacity = (modifiedCell.oldWorkingCapacity or 0) | string %}
      {% set maxCapacity = (modifiedCell.capacity.maxCapacity or 0) | string %}
      {% set cellTypes = modifiedCell.specialistCellTypes %}

      {% set rows = (rows.push(
        [
          { text: cell.pathHierarchy },
          { text: baselineCna },
          { text: workingCapacity },
          { text: maxCapacity },
          { html: formatConstants(constants.specialistCellTypes, cellTypes) }
        ]
      ), rows) %}
    {% endfor %}

    {{ govukTable({
      attributes: {
        "data-qa": "check-capacity-table"
      },
      firstCellIsHeader: true,
      head: [
        { text: "Location" },
        { text: "Baseline CNA" },
        { text: "Working capacity" },
        { text: "Maximum capacity" },
        { text: "Cell type" }
      ],
      rows: rows
    }) }}
  {% else %}
    {% for subData in data.decoratedSubLocations %}
      {{ explodeLocation(subData, false) }}
    {% endfor %}
  {% endif %}
{% endmacro %}

{% macro explodeLocation(data) %}
  {% if data.decoratedSubLocations.length %}
    {% if data.decoratedSubLocations[0].decoratedLocation.leafLevel %}
      <h2 class="govuk-heading-m">
        {{ data.decoratedLocation.displayName | capFirst }}
      </h2>

      {{ capacityTable(data.decoratedSubLocations, data.decoratedLocation) }}
    {% else %}
      {% for subLocation in data.decoratedSubLocations %}
        {{ explodeLocation(subLocation) }}
      {% endfor %}
    {% endif %}
  {% endif %}
{% endmacro %}

{% block fields %}
  {% if decoratedLocationTree[0].decoratedLocation.leafLevel %}
    {{ capacityTable(decoratedLocationTree, decoratedLocation) }}
  {% else %}
    {% for data in decoratedLocationTree %}
      {{ explodeLocation(data) }}
    {% endfor %}
  {% endif %}
{% endblock %}
