{% extends "../../../partials/formStep.njk" %}

{% from "govuk/components/table/macro.njk" import govukTable %}
{% from "moj/components/ticket-panel/macro.njk" import mojTicketPanel %}

{% macro capacityTable(decoratedCells) %}
  {% set rows = [] %}
  {% for decoratedCell in decoratedCells %}
    {% set cell = decoratedCell.raw %}
    {% set modifiedCell = modifiedLocationMap[cell.id] %}
    {% set cellTypesText = formatConstants(constants.specialistCellTypes, modifiedCell.specialistCellTypes) %}

    {% if modifiedCell.specialistCellTypes and modifiedCell.specialistCellTypes.length %}
      {% set cellTypeColumn =
        {  html:
          '<div data-qa="cell-types-' + cell.id + '" class="change-remove-container">' +
          cellTypesText +
          '<div class="change-remove-actions">' +
          '<button type="submit" class="govuk-link govuk-link--no-visited-state" name="cellTypeAction" value="remove/' + cell.id + '">Remove</button>' + '  |  ' +
          '<button type="submit" class="govuk-link govuk-link--no-visited-state" name="cellTypeAction" value="set/' + cell.id + '">Change</button>' + '</div>' + '</div>'

        }
      %}
    {% else %}
      {% set cellTypeColumn = {
        html:
        '<div data-qa="cell-types-' + cell.id + '">' +
        '<button type="submit" class="govuk-link govuk-link--no-visited-state" name="cellTypeAction" value="set/' + cell.id + '">Add</button>' +
        '</div>'
      }
      %}
    {% endif %}

    {% set rows = (rows.push(
      [
        { text: cell.pathHierarchy },
        {
          html: callAsMacro(fields['baselineCna-' + cell.id].component)(fields['baselineCna-' + cell.id])
        },
        {
          html: callAsMacro(fields['workingCapacity-' + cell.id].component)(fields['workingCapacity-' + cell.id])
        },
        {
          html: callAsMacro(fields['maximumCapacity-' + cell.id].component)(fields['maximumCapacity-' + cell.id])
        },
        cellTypeColumn
      ]
    ), rows) %}
  {% endfor %}

  {{ govukTable({
    attributes: {
      "data-qa": "edit-capacity-table"
    },
    firstCellIsHeader: true,
    head: [
      { text: "Location" },
      { text: "Baseline CNA" },
      { text: "Working capacity" },
      { text: "Maximum capacity" },
      { text: "Cell type (optional)" }
    ],
    rows: rows
  }) }}
{% endmacro %}

{% block fields %}
  {{ govukDetails({
    summaryText: "What the different types of cell capacity mean",
    html: "<strong>Baseline certified normal accommodation (CNA)</strong><br>" +
    "The number of people that can live in a cell without it being considered overcrowded.<br><br>" +
    "<strong>Working capacity</strong><br>" +
    "The number of people that can currently live in this location based on available beds, furniture and sanitation.<br><br>" +
    "<strong>Maximum capacity</strong><br>" +
    "The maximum number of people that could potentially live in this location.",
    classes: 'govuk-!-margin-top-3'
  }) }}

  {% set autoFillHtml = '<h2 class="govuk-heading-m govuk-!-margin-bottom-5">Apply capacity values to all cells</h2>' %}

  {% if cells.length > 1 %}
    {% for i in [
      {id: 'CNA', label: 'Baseline certified normal accommodation (CNA)'},
      {id: 'WC', label: 'Working capacity'},
      {id: 'MC', label: 'Maximum capacity'}
    ] %}
      {% set autoFillHtml = autoFillHtml + govukInput({
        component: 'govukInput',
        id: 'autoFill' + i.id,
        name: 'autoFill' + i.id,
        classes: 'govuk-input--width-3',
        rows: 1,
        autocomplete: 'off',
        formGroup: {
          beforeInput: {
            html: '<label class="govuk-label govuk-input-prefix--plain" for="autoFill' + i.id + '">' + i.label + '</label>'
          },
          afterInput: {
            html: '<a href="#" class="govuk-link govuk-link--no-visited-state govuk-input-suffix--plain" id="apply-autoFill' + i.id + '">Apply to all</a>'
          }
        }
      }) %}
    {% endfor %}

    {{ mojTicketPanel({
      attributes: {
        'data-qa': 'auto-fill-capacities'
      },
      items: [
        {
          html: autoFillHtml,
          classes: 'govuk-!-margin-bottom-5'
        }
      ]
    }) }}
  {% endif %}

  {{ capacityTable(decoratedCells) }}
{% endblock %}
