{% extends "../../partials/layout.njk" %}

{% from "govuk/components/details/macro.njk" import govukDetails %}
{% from "govuk/components/button/macro.njk" import govukButton %}
{% from "govuk/components/input/macro.njk" import govukInput %}
{% from "govuk/components/inset-text/macro.njk" import govukInsetText %}
{% from "govuk/components/error-summary/macro.njk" import govukErrorSummary %}
{% from "govuk/components/summary-list/macro.njk" import govukSummaryList %}
{% from "govuk/components/warning-text/macro.njk" import govukWarningText %}

{% set locationType = decoratedLocation.locationType %}
{% set title = "Check and confirm the " + locationType | lower + " details" %}

{% block beforeContent %}
  <div class="govuk-width-container">
    {{ govukBackLink({
      text: "Back",
      href: backLink
    }) }}

    {% if errorlist.length %}
      {{ govukErrorSummary({
        titleText: "There is a problem",
        errorList: errorlist
      }) }}
    {% endif %}
  </div>
{% endblock %}

{% block heading %}
  <div class="govuk-grid-row govuk-!-margin-bottom-0">
    <div class="govuk-grid-column-two-thirds">
      <span class="govuk-caption-m" data-qa="cell-name">
        Create new {{ values.locationType | lower }}
      </span>
      <h1 class="govuk-heading-l">
        Check and confirm the {{ values.locationType | lower }} details
      </h1>
    </div>
  </div>
{% endblock %}

{% block content %}

  {% set formMethod = options.method | default('post') %}
  {% set formAction = options.action | default('') %}
  {% set formEnctype = options.enctype | default('') %}

  <div class="govuk-width-container">
    <div class="govuk-grid-row">
      <div class="govuk-grid-column-two-thirds">

       <p class="govuk-body"> You are about to create a new wing.</p>
         <p class="govuk-body">You can add landings and cells to the wing once it is created.</p>

        {{ govukSummaryList({
          card: {
            title: {
              text: "Wing details"
            }
          },
          rows: [
            {
              key: {
                text: "Wing structure"
              },
              value: {
                text: decoratedLocationStructure
              },
              actions: {
                items: [
                  {
                    href: createStructureLink,
                    text: "Change"
                  }
                ]
              }
            },
            {
              key: {
                text: "Wing code"
              },
              value: {
                text: values.locationCode
              },
              actions: {
                items: [
                  {
                    href: createDetailsLink,
                    text: "Change"
                  }
                ]
              }
            },
            {
              key: {
                text: "Local name"
              },
              value: {
                text: values.localName or 'Not set'
              },
              actions: {
                items: [
                  {
                    href: createDetailsLink,
                    text: "Change"
                  }
                ]
              }
            }
          ]
        }) }}

        {{ govukWarningText({
          text: "This location will be in draft until it is added to the cell certificate.",
          iconFallbackText: "Warning"
        }) }}

        <form method="{{ formMethod }}" action="{{ formAction }}"
        {% if formEnctype %}
          enctype="{{ formEnctype }}"
        {% endif %}
        >

          {% if formMethod == 'post' %}
            <input type="hidden" name="_csrf" value="{{ csrfToken }}">
          {% endif %}

          <div class="govuk-button-group">
            {% block formActions %}
              {% block submitAction %}
                {{ govukButton({
                  text: "Create " + values.locationType | lower,
                  classes: options.buttonClasses,
                  preventDoubleClick: true,
                  type: "submit"
                }) }}
              {% endblock %}
            {% endblock %}
          </div>
        </form>

        <p class="govuk-body">
          <a href="{{ cancelLink }}" class="govuk-link govuk-link--no-visited-state">
            Cancel and return to location details
          </a>
        </p>
      </div>
    </div>
  </div>
{% endblock %}
