{% extends "../../partials/formStep.njk" %}

{% from "govuk/components/table/macro.njk" import govukTable %}
{% from "govuk/components/input/macro.njk" import govukInput %}
{% from "moj/components/ticket-panel/macro.njk" import mojTicketPanel %}

{% block fields %}
  {% set startCreateCellNumberHintHtml %}
    <div id="startCreateCellNumber-hint" class="govuk-visually-hidden">
      Enter the first cell number. Selecting Apply will automatically populate
      all cell number fields in sequence from this number.
      For example, entering 01 will populate the fields as 001, 002 and 003.
    </div>
  {% endset %}

  {{ mojTicketPanel({
    attributes: {
      'data-qa': 'draft-location-banner'
    },
    items: [{
      html: govukInput({
        validate: ['numeric'],
        component: 'govukInput',
        id: 'startCreateCellNumber',
        name: 'startCreateCellNumber',
        classes: 'govuk-input--width-5 ',
        attributes: {
          'aria-describedby': 'startCreateCellNumber-hint'
        },
        rows: 1,
        label: {
          text: 'Start cell numbering from',
          classes: 'govuk-label--m ',
          for: 'startCreateCellNumber'
        },
        autocomplete: 'off',
        formGroup: {
          beforeInput: {
            html: startCreateCellNumberHintHtml
          },
          afterInput: {
            html: '<button type="button" class="govuk-link govuk-link--no-visited-state govuk-input-suffix--plain" id="apply-cell-numbering">Apply</button>'
          }
        }
      }),
      classes: 'govuk-!-margin-bottom-5'
    }]
  }) }}

  {% set rows = [] %}
  {% for key, fieldsOptions in fields %}
    {% set rows = (rows.push([
      {
        text: fieldsOptions.text
      },
      {
        html: callAsMacro(fieldsOptions.component)(fieldsOptions)
      }
    ]), rows) %}
  {% endfor %}

  <div class="govuk-width-container">
    <div class="govuk-grid-row govuk-!-margin-bottom-0">
      <div class="govuk-grid-column-one-half">
        {{ govukTable({
          head: [
            { text: "Cell" },
            { text: "Cell number" }
          ],
          rows: rows
        }) }}
        <div id="cell-numbering-status" class="govuk-visually-hidden" aria-live="polite">
          <!-- Text will be dynamically inserted here to indicate cell numbering changes -->
        </div>
      </div>
    </div>
  </div>

{% endblock %}
