{% extends "../../../partials/layout.njk" %}

{% from "govuk/components/button/macro.njk" import govukButton %}
{% from "govuk/components/error-summary/macro.njk" import govukErrorSummary %}

{% from "../../../macros/locationsTable.njk" import locationsTable %}
{% from "../../../macros/miniSummary.njk" import miniSummary %}

{% set title = "You are about to reactivate " + location.displayName %}

{% block beforeContent %}
  <div class="govuk-width-container">
    <div class="govuk-grid-row govuk-!-margin-bottom-0">
      <div class="govuk-grid-column-two-thirds">
        {{ govukBackLink({
          text: "Back",
          href: backLink
        }) }}

        {% if errorlist.length %}
          {{ govukErrorSummary({
            titleText: "There is a problem",
            errorList: errorlist
          }) }}
        {% endif %}
      </div>
    </div>
  </div>

{% endblock %}

{% block content %}

  {% set formMethod = options.method | default('post') %}
  {% set formAction = options.action | default('') %}
  {% set formEnctype = options.enctype | default('') %}

  <div class="govuk-width-container">
    <div class="govuk-grid-row">
      <div class="govuk-grid-column-two-thirds">
        <div class="govuk-!-padding-bottom-2 change-summary">
          <h2 class="govuk-heading-m">Change to establishment capacity</h2>
          <p>
            {% if changeSummary %}
              {{ (changeSummary | safe) }}
            {% else %}
              There will be no change to the establishment's total working or maximum capacity.
            {% endif %}
          </p>

          {% for parentLocation in inactiveParentLocations | sort(attribute='pathHierarchy') %}
            <p>
              The status of {{ parentLocation.displayName }} will change to active because it will contain active
              locations.
            </p>
          {% endfor %}
        </div>

        <form method="{{ formMethod }}" action="{{ formAction }}"
            {% if formEnctype %}
              enctype="{{ formEnctype }}"
            {% endif %}
        >

          {% if formMethod == 'post' %}
            <input type="hidden" name="_csrf" value="{{ csrfToken }}">
          {% endif %}

          <div class="govuk-button-group">
            {% block formActions %}
              {% block submitAction %}
                {{ govukButton({
                  text: "Confirm activation",
                  classes: options.buttonClasses,
                  preventDoubleClick: true,
                  type: "submit"
                }) }}
              {% endblock %}
            {% endblock %}
          </div>
        </form>

        <p class="govuk-body">
          <a href="{{ cancelLink }}" class="govuk-link govuk-link--no-visited-state">
            Cancel and return to location details
          </a>
        </p>
      </div>
    </div>
  </div>
{% endblock %}
