{% extends "../../../partials/formStep.njk" %}

{% from "govuk/components/summary-list/macro.njk" import govukSummaryList %}
{% from "govuk/components/warning-text/macro.njk" import govukWarningText %}


{% block fields %}
  {{ govukSummaryList({
    card: {
      title: {
        text: "Deactivation details"
      },
      actions: {
        items: [ { href: backLink, text: "Change" } ]
      }
    },
    rows: [
      {
        key: { text: "Reason" },
        value: { text: deactivationReason }
      }
    ]
  }) }}

  <div class="govuk-!-padding-bottom-2 change-summary">
    <h2 class="govuk-heading-m">Changes to establishment capacity</h2>

    {% if decoratedLocation.raw.locationType != 'CELL' %}
      {{ govukWarningText({
        text: "Every cell in " + decoratedLocation.displayName + " will be deactivated, decertified and archived.",
        iconFallbackText: "Warning"
      }) }}
    {% endif %}

    <p>{{ changeSummary | safe }}</p>
  </div>
{% endblock %}
