{% extends "../../../partials/formStep.njk" %}

{% from "govuk/components/table/macro.njk" import govukTable %}
{% from "govuk/components/notification-banner/macro.njk" import govukNotificationBanner %}

{% set rows = [] %}

{% for key, summary in capacitySummary %}
  {% set rows = (rows.push(
    [
      { text: key },
      { text: summary.maxCapacity },
      { text: summary.workingCapacity },
      { text: summary.certifiedNormalAccommodation }
    ]
  ), rows) %}
{% endfor %}

{% set dataRows = [] %}

{% for key, data in capacityData %}
  {% set dataRows = (dataRows.push(
    [
      { text: key },
      { text: data.maxCapacity },
      { text: data.workingCapacity },
      { text: data.certifiedNormalAccommodation },
      { text: data.cellMark },
      { text: 'Yes' if data.inCellSanitation else 'No' }
    ]
  ), dataRows) %}
{% endfor %}

{% block content %}
  <div class="govuk-width-container">
    <div class="govuk-grid-row govuk-!-margin-bottom-0">
      <div class="govuk-grid-column-full">
        <h2 class="govuk-heading-m">Summary</h2>
        {{ govukTable({
          attributes: {
            "data-qa": "summary-table"
          },
          head: [
            { text: "Location", classes: "govuk-!-width-one-quarter" },
            { text: "Max capacity", classes: "govuk-!-width-one-quarter" },
            { text: "Working capacity", classes: "govuk-!-width-one-quarter" },
            { text: "CNA", classes: "govuk-!-width-one-quarter" }
          ],
          rows: rows
        }) }}
        <h2 class="govuk-heading-m">Full upload details</h2>
        {{ govukTable({
          attributes: {
            "data-qa": "data-table"
          },
          head: [
            { text: "Location", classes: "govuk-!-width-one-sixth" },
            { text: "Max capacity", classes: "govuk-!-width-one-sixth" },
            { text: "Working capacity", classes: "govuk-!-width-one-sixth" },
            { text: "CNA", classes: "govuk-!-width-one-sixth" },
            { text: "Cell mark", classes: "govuk-!-width-one-sixth" },
            { text: "In-cell sanitation", classes: "govuk-!-width-one-sixth" }
          ],
          rows: dataRows
        }) }}
      </div>
    </div>
  </div>

  {{ super() }}
{% endblock %}

{% block fields %}
  {{ govukInsetText({
    text: "It can take several minutes to run the ingestion, please wait for a response"
  }) }}
{% endblock %}
