{% extends "../../partials/layout.njk" %}

{% from "govuk/components/details/macro.njk" import govukDetails %}
{% from "govuk/components/notification-banner/macro.njk" import govukNotificationBanner %}

{% from "../../macros/locationsTable.njk" import locationsTable %}
{% from "../../macros/miniSummary.njk" import miniSummary %}

{% set title = "View and update locations" %}

{% block beforeContent %}
  {{ super() }}

  {% if banner.success %}
    {% set html %}
      <h3 class="govuk-notification-banner__heading">
        {{ banner.success.title }}
      </h3>
      <p class="govuk-body">
        {{ banner.success.content }}
      </p>
    {% endset %}

    <div class="govuk-width-container">
      <div class="govuk-grid-row govuk-!-margin-bottom-0">
        <div class="govuk-grid-column-two-thirds">
          {{ govukNotificationBanner({
            html: html,
            type: "success",
            classes: "govuk-!-margin-top-7 govuk-!-margin-bottom-0"
          }) }}
        </div>
      </div>
    </div>
  {% endif %}
{% endblock %}

{% block content %}
  <div class="govuk-width-container">
    <h2 class="govuk-heading-m">Overall establishment capacity</h2>

    <div class="govuk-grid-row">
      <div class="govuk-grid-column-three-quarters">
        <div class="govuk-grid-row">
          <div class="govuk-grid-column-full" data-qa="overview-mini-summary-group-b">
            <div class="govuk-grid-row hmpps-miniSummaryWrapper" data-qa="mini-summary-list-macro">
              {% for summary in decoratedResidentialSummary.summaryCards %}
                <div class="govuk-grid-column-one-third" data-qa="{{ summary.type }}-card">
                  {{ miniSummary({bottomLabel: summary.type | title | replace('-', ' '), bottomClass: 'big', bottomContentLine1: summary.text,
                  linkHref: summary.linkHref if summary.linkHref, linkLabel: summary.linkLabel if summary.linkLabel}) }}
                </div>
              {% endfor %}
            </div>
          </div>
        </div>

        {{ govukDetails({
          summaryText: "What the different types of capacity mean",
          html: "<strong>Maximum capacity</strong><br>" +
          "The maximum capacity is the total number of people an establishment could hold if all potential spaces (including care and separation units and healthcare) are used for residential locations.<br><br>" +
          "<strong>Signed operational capacity</strong><br>" +
          "The signed operational capacity is approved by the prison governor. It is the establishment's maximum capacity minus the capacity of cells that are long term out of action or are not typically used for someone to live in permanently (for example care and separation units or healthcare).<br><br>" +
          "<strong>Working capacity</strong><br>" +
          "The working capacity is the operational capacity of all normal accommodation cells minus the capacity of any short term out of action normal accommodation cells."
        }) }}
      </div>
    </div>

    {{ locationsTable(residentialSummary.subLocationName, residentialSummary.subLocations) }}
  </div>
{% endblock %}
