{% extends "../../partials/layout.njk" %}

{% from "govuk/components/tag/macro.njk" import govukTag %}

{% from "moj/components/button-menu/macro.njk" import mojButtonMenu %}

{% from "../../macros/draftLocationBanner.njk" import draftLocationBanner %}
{% from "../../macros/inactiveLocationBanner.njk" import inactiveLocationBanner %}
{% from "../../macros/locationDetails.njk" import locationDetails %}
{% from "../../macros/locationsTable.njk" import locationsTable %}
{% from "../../macros/locationStatusTag.njk" import locationStatusTag %}
{% from "../../macros/miniSummary.njk" import miniSummary %}

{% set locationType = decoratedResidentialSummary.location.locationType %}
{% set locationName = decoratedResidentialSummary.location.localName or decoratedResidentialSummary.location.pathHierarchy %}
{% set title = (decoratedResidentialSummary.location.displayName | capFirst) + ' - ' + title %}

{% block heading %}
  <span class="govuk-caption-m" data-qa="location-type">{{ locationType }}</span>
  <h1 class="govuk-heading-l">
    {{ locationName }}
    {% if decoratedResidentialSummary.location.leafLevel and decoratedResidentialSummary.location.certification and decoratedResidentialSummary.location.certification.certified %}
      {{ govukTag({
        text: 'Certified',
        classes: "govuk-tag--hollow",
        attributes: {
          "data-qa": "certified-tag"
        }
      }) }}
    {% endif %}
    {{ locationStatusTag(decoratedResidentialSummary.location) }}

    {% if actions | length %}
      <div class="govuk-!-float-right">
        {% if actions | length > 1 %}
          {{ mojButtonMenu({
            button: { text: "Actions" },
            alignMenu: "right",
            items: actions
          }) }}
        {% else %}
          <a href="{{actions[0].href}}"
            role="button"
            class="govuk-button {{actions[0].class}} }}">{{ actions[0].text }}</a>
        {% endif %}
      </div>
    {% endif %}
  </h1>
{% endblock %}

{% block content %}
  <div class="govuk-width-container">
    <div class="govuk-grid-row govuk-!-margin-bottom-0">
      <div class="govuk-grid-column-three-quarters">
        {% if decoratedResidentialSummary.location.status == 'INACTIVE' %}
          {{ inactiveLocationBanner(decoratedResidentialSummary, canAccess) }}
        {% elseif decoratedResidentialSummary.location.status in ['DRAFT', 'LOCKED_DRAFT'] %}
          {{ draftLocationBanner(decoratedResidentialSummary, canAccess, topLevelDraftLocationSummary) }}
        {% elseif decoratedResidentialSummary.location.pendingChanges.cellMark %}
            {# FIXME: banner, menu, buttons to remove. Should this be generic ?? #}
        {% endif %}

        {% if decoratedResidentialSummary.summaryCards | length %}
          <div class="govuk-grid-row">
            <div class="govuk-grid-column-full" data-qa="overview-mini-summary-group-b">
              <div class="govuk-grid-row hmpps-miniSummaryWrapper" data-qa="mini-summary-list-macro">
                {% for summary in decoratedResidentialSummary.summaryCards %}
                  <div class="govuk-grid-column-one-third" data-qa="{{ summary.type }}-card">
                    {{ miniSummary({
                      bottomLabel: summary.title,
                      bottomClass: 'big',
                      bottomContentLine1: summary.text,
                      linkHref: summary.linkHref if summary.linkHref,
                      linkLabel: summary.linkLabel if summary.linkLabel,
                      linkAriaLabel: summary.linkAriaLabel if summary.linkAriaLabel
                    }) }}
                  </div>
                {% endfor %}
              </div>
            </div>
          </div>
        {% endif %}

        {{ locationDetails(decoratedResidentialSummary.location, decoratedResidentialSummary.locationDetails, decoratedResidentialSummary.locationHistory) }}
      </div>
    </div>

    {% if not decoratedResidentialSummary.location.leafLevel %}
      {{ locationsTable(createButton, decoratedResidentialSummary) }}
    {% endif %}
  </div>
{% endblock %}
