{% extends "../../../partials/formStep.njk" %}

{% from "govuk/components/summary-list/macro.njk" import govukSummaryList %}
{% from "govuk/components/notification-banner/macro.njk" import govukNotificationBanner %}

{% set segInRollCountHtml %}
  <span class="hmpps-inactive-location-banner">
      {{ govukSummaryList({rows:[
        {
          key: {
            text: 'Prison'
          },
          value: {
            text: prisonConfiguration.prisonId
          }
        },
        {
          key: {
            text: 'Include seg in roll count'
          },
          value: {
            text: prisonConfiguration.includeSegregationInRollCount
          }
        }
      ],
        classes: 'hmpps-inactive-location-banner-summary-list' }) }}
  </span>
{% endset %}

{% block fields %}
  {{ govukNotificationBanner({
    html: segInRollCountHtml,
    classes: 'govuk-notification-banner__headerless'
  }) }}

  <input type="hidden" name="activation" value="{{ 'IN' if prisonConfiguration.includeSegregationInRollCount == 'ACTIVE' }}ACTIVE">

  {{ super() }}
{% endblock %}
