{% extends "../../partials/layout.njk" %}

{% from "govuk/components/summary-list/macro.njk" import govukSummaryList %}

{% set rows = [] %}
{% set rows = (rows.push(
  [
    { text: prisonConfiguration.prisonId },
    { text: prisonConfiguration.resiLocationServiceActive },
    { text: prisonConfiguration.nonResiServiceActive },
    { text: prisonConfiguration.includeSegregationInRollCount },
    { text: prisonConfiguration.certificationApprovalRequired }
  ]
), rows) %}

{% set housingMessage %}
  {% if prisonNonHousingDisabled %}
    Disabled
  {% else %}
    Enabled
  {% endif %}
{% endset %}

{% set screenBlocked %}
  {% if nomisScreenBlocked %}
    Blocked
  {% else %}
    Not-Blocked
  {% endif %}
{% endset %}

{% set resiHtml %}
  <span class="hmpps-inactive-location-banner">
        {{ govukSummaryList({rows:[
        {
          key: {
            text: 'Prison'
          },
          value: {
            text: prisonConfiguration.prisonId
          }
        },
        {
          key: {
            text: 'Residential location'
          },
          value: {
            text: prisonConfiguration.resiLocationServiceActive
          },
          actions: {
            items: [
              {
                href: '/admin/' + prisonConfiguration.prisonId + '/change-resi-status',
                text: "Change",
                visuallyHiddenText: "resi",
                classes: "govuk-link--no-visited-state"}
            ]
          }
        },
        {
          key: {
            text: 'Non-residential locations'
          },
          value: {
            text: prisonConfiguration.nonResiServiceActive
          },
          actions: {
            items: [
              {
                href: '/admin/' + prisonConfiguration.prisonId + '/change-non-resi-status',
                text: "Change",
                visuallyHiddenText: "non-resi",
                classes: "govuk-link--no-visited-state"}
            ]
          }
        },
        {
          key: {
            text: 'Include seg in roll count'
          },
          value: {
            text: prisonConfiguration.includeSegregationInRollCount
          },
          actions: {
          items: [
            {
              href: '/admin/' + prisonConfiguration.prisonId + '/change-include-seg-in-roll-count',
              text: "Change",
              visuallyHiddenText: "resi",
              classes: "govuk-link--no-visited-state"}
            ]
          }
        },
        {
          key: {
            text: 'Certification approval required'
          },
          value: {
            text: prisonConfiguration.certificationApprovalRequired
          },
          actions: {
            items: [
              {
                href: '/admin/' + prisonConfiguration.prisonId + '/change-certification-status',
                text: "Change",
                visuallyHiddenText: "resi",
                classes: "govuk-link--no-visited-state"}
            ]
          }
        },
        {
          key: {
            text: 'Prison non housing checkboxes'
          },
          value: {
            text: housingMessage
          }
        },
        {
          key: {
          text: 'OIMMHOLO screen blocked'
        },
          value: {
            text: screenBlocked
          }
        },
        {
          key: {
          text: 'Ingest certs'
        },
          value: {
          text: ''
        },
          actions: {
          items: [
            {
              href: '/admin/' + prisonConfiguration.prisonId + '/ingest-cert',
              text: "Ingest",
              visuallyHiddenText: "ingest",
              classes: "govuk-link--no-visited-state"}
          ]
          }
        }
        ],
        classes: 'hmpps-inactive-location-banner-summary-list' }) }}
  </span>
{% endset %}

{% block content %}
  <div class="govuk-width-container">
    {% if rows | length %}
      {{ govukNotificationBanner({
        html: resiHtml,
        classes: 'govuk-notification-banner__headerless',
        attributes: {
          'data-qa': 'inactive-location-banner'
        }
      }) }}
    {% else %}
      <p data-qa="empty-state-message">There is no prison configuration.</p>
    {% endif %}
  </div>
{% endblock %}
