{% extends "../../../../partials/formStep.njk" %}

{% block fields %}
  <p>
    You must confirm that all cells on the certificate meet the required standards to update the certificate.
  </p>

  {{ super() }}
{% endblock %}
