{% extends "../../../../partials/formStep.njk" %}

{% block fields %}
  {% if approvalRequest.approvalType !== 'SIGNED_OP_CAP' %}
    <p>
      You must confirm that all cells on the certificate meet the required standards to update the certificate.
    </p>
  {% endif %}

  {{ super() }}
{% endblock %}
