{% extends "../../partials/layout.njk" %}

{% block content %}
  <div class="govuk-width-container">
    <div class="govuk-grid-row govuk-!-margin-bottom-0">
      <div class="govuk-grid-column-{{ minLayout }}">
        <p class="govuk-body">
          You need to move everyone out of this location before you can convert it to a non-residential room.
        </p>

        <p class="govuk-body">
          <a href="{{ cancelLink }}" class="govuk-link govuk-link--no-visited-state">
            Return to location details
          </a>
        </p>
      </div>
    </div>
  </div>
{% endblock %}
