{% extends "../../partials/formStep.njk" %}

{% from "govuk/components/panel/macro.njk" import govukPanel %}

{% block fields %}
  <p class="govuk-body govuk-body-l govuk-!-margin-bottom-8">
    This needs to be authorised by a governor as the cell will be decertified and the establishment’s capacity reduced.
  </p>
{% endblock %}

{% block beforeContent %}
{% endblock %}

{% block outerHeading %}
{% endblock %}

{% set panelTitle %}
  <div class="govuk-grid-row govuk-!-margin-bottom-8">
    <div class="govuk-grid-column-{{ minLayout }}">
      <h1 class="govuk-panel__title">
        {{ title }}
      </h1>
    </div>
  </div>
{% endset %}

{% block content %}
  <div class="govuk-width-container">
    {{ govukPanel({
      titleHtml: panelTitle,
      html: super(),
      classes: "govuk-panel--left-align govuk-panel--brand-colour govuk-!-padding-9 govuk-!-margin-top-7"
    }) }}
  </div>
{% endblock %}
