{% extends "../../partials/layout.njk" %}

{% from "govuk/components/button/macro.njk" import govukButton %}
{% from "govuk/components/panel/macro.njk" import govukPanel %}

{% set title = "You are about to convert this cell to a non-residential room" %}

{% block heading %}
{% endblock %}

{% block content %}
  {% set formMethod = options.method | default('post') %}
  {% set formAction = options.action | default('') %}
  {% set formEnctype = options.enctype | default('') %}

  <div class="govuk-width-container">
    {% set panelTitle %}
      <div class="govuk-grid-row govuk-!-margin-bottom-8">
        <div class="govuk-grid-column-three-quarters">
          <h1 class="govuk-panel__title">
            You are about to convert this cell to a non-residential room
          </h1>
        </div>
      </div>
    {% endset %}

    {% set panelBody %}
      <div class="govuk-grid-row">
        <div class="govuk-grid-column-three-quarters">
          <p class="govuk-body govuk-body-l govuk-!-margin-bottom-8">
            This needs to be authorised by a governor as the cell will be decertified
            and the establishment’s capacity reduced.
          </p>

          <form method="{{ formMethod }}" action="{{ formAction }}"
          {% if formEnctype %}
            enctype="{{ formEnctype }}"
          {% endif %}
          >

            {% if formMethod == 'post' %}
              <input type="hidden" name="_csrf" value="{{ csrfToken }}">
            {% endif %}

            <div class="govuk-button-group govuk-!-margin-bottom-4">
              {{ govukButton({
                text: "Continue conversion to non-residential room",
                preventDoubleClick: true,
                type: "submit",
                classes: "govuk-button--secondary"
              }) }}
            </div>
          </form>

          <p class="govuk-body govuk-!-margin-bottom-0">
            <a href="{{ cancelLink }}" class="govuk-link govuk-link--inverse">
              Cancel and return to location details
            </a>
          </p>
        </div>
      </div>
    {% endset %}

    {{ govukPanel({
      titleHtml: panelTitle,
      html: panelBody,
      classes: "govuk-panel--left-align govuk-panel--brand-colour"
    }) }}
  </div>
{% endblock %}
