body {
  margin: 0;
}

.govuk-main-wrapper {
  min-height: 600px;
  margin-bottom: -40px;
  padding-bottom: 100px;
}

.body-tiles {
  background: #f0f4f5;
  min-height: 500px;
  padding: 30px 40px;
}

h1.govuk-heading-l .govuk-tag {
  vertical-align: middle;
  margin-bottom: 5px;
  margin-left: 2px;
}

div.govuk-grid-row {
  margin-bottom: 24px;
}

details.govuk-details {
  margin-top: -24px;
}

div.govuk-notification-banner.govuk-notification-banner__headerless {
  .govuk-notification-banner__header {
    display: none;
  }
}

.govuk-caption-s {
  @include govuk-font($size: 16);
  display: block;
  color: $govuk-secondary-text-colour;

  margin-top: 16px;
}

.govuk-tag--hollow {
  background: none;
  border: 2px solid black;
  color: black;
  padding: 0 6px 1px;
}

h1 .govuk-caption-l {
  @include govuk-font($size: 36, $weight: bold);
  display: inline-block;
}

.govuk-\!-width-one-sixth {
  width: 100%;
}

.govuk-\!-width-four-sixths {
  width: 100%;
}

.govuk-\!-width-one-eighth {
  width: 100%;
}

@media (min-width: 40.0625em) {
  .govuk-\!-width-one-sixth {
    width: 16.666%;
  }

  .govuk-\!-width-four-sixths {
    width: 66.666%;
  }

  .govuk-\!-width-one-eighth {
    width: 12.5%;
  }
}

.govuk-\!-float-right {
  float: right;
}

.govuk-panel {
  p.govuk-body-l {
    @include govuk-font($size: 24);
  }
}

.govuk-panel--left-align {
  text-align: left;
}

.govuk-panel--brand-colour {
  background: $govuk-brand-colour;

  p {
    color: govuk-colour("white");
  }
}

.local-name-text-input {
  min-height: 35px;
  resize: none
}

.govuk-table__cell {
  vertical-align: middle;
}

.change-remove-container {
  display: flex;
  justify-content: space-between;
}

.change-remove-actions {
  display: flex;
  align-items: center;
  padding-left: 10px
}

#top-banner {
  background-color: govuk-colour("purple");

  h1, p {
    color: govuk-colour("white");
  }

  .govuk-button--inverse {
    box-shadow: 0 2px 0 #002c18;
    color: govuk-colour("purple");
  }
}

$sticky-footer-border-colour: govuk-colour("purple");
$sticky-footer-background-colour: govuk-tint($sticky-footer-border-colour, 90);
$sticky-footer-horizontal-spacing: govuk-spacing(3);
$sticky-footer-vertical-spacing: govuk-spacing(2);

.sticky-footer__testing-banner {
  @include govuk-font($size: 16);
  border-top: 2px solid $sticky-footer-border-colour;
  background: $sticky-footer-background-colour;
  padding: $sticky-footer-vertical-spacing $sticky-footer-horizontal-spacing;
  position: fixed;
  width: 100%;
  bottom: 0;

  &__heading {
    @include govuk-font($size: 16, $weight: bold);
    background: $sticky-footer-background-colour;
    border-right: 2px solid $sticky-footer-border-colour;
    border-top: 2px solid $sticky-footer-border-colour;
    left: 0;
    margin: 0;
    padding: govuk-spacing(2) $sticky-footer-horizontal-spacing govuk-spacing(1);
    position: absolute;
    top: -37px;
  }

  &__items {
    @include govuk-clearfix;
    @include govuk-font($size: 16);
    list-style: none;
    margin: 0;
    padding: 0;
  }

  &__item {
    display: block;
    float: left;
    font-weight: bold;

    & + & {
      margin-left: govuk-spacing(4);
    }

    a {
      font-weight: normal;
    }

    a:link,
    a:hover,
    a:active,
    a:visited,
    a:focus {
      color: $govuk-text-colour;
    }
  }
}

#locations-table tbody tr th {
  vertical-align: middle
}

.govuk-input-prefix--plain {
  margin-right: 7px;
  margin-top: 7px;
}

.govuk-input-suffix--plain {
  margin-left: 10px;
  margin-top: 10px;
}

// location structure preview

.structurePreview {
  position: relative;
}

.structureLevel {
  position: absolute;
  white-space: nowrap;
  text-align: center;
  padding-left: 5px;
}

.structureLevel p {
  margin-bottom: 0;
}

.line-vertical, .line-horizontal {
  position: absolute;
  background: black;
}

.line-vertical {
  width: 1px;
}

.line-horizontal {
  height: 1px;
}

.hidden {
  display: none
}

.govuk-table__head {
  .govuk-table__header {
    a {
      font-weight: normal
    }
  }
}

button.govuk-link {
  outline: none;
  border: none;
  background: none;
  color: #1d70b8;
  cursor: pointer;
  font-size: 1.1875rem;
}

a[data-collapsible-table-handle] {
  position: relative;
  padding-left: 16px;
}

[data-collapsible-table-group] {
  padding-left: 32px;
}

a[data-collapsible-table-handle]::before {
  content: "";
  position: absolute;
  top: -1px;
  bottom: 0;
  left: 0;
  margin: auto;
  display: block;
  width: 0;
  height: 0;
  border-style: solid;
  border-color: rgba(0, 0, 0, 0);
  -webkit-clip-path: polygon(0% 0%, 100% 50%, 0% 100%);
  clip-path: polygon(0% 0%, 100% 50%, 0% 100%);
  border-width: 7px 0 7px 12.124px;
  border-left-color: inherit
}

a[data-collapsible-table-handle][data-expanded=true]::before {
  -webkit-clip-path: polygon(0% 0%, 50% 100%, 100% 0%);
  clip-path: polygon(0% 0%, 50% 100%, 100% 0%);
  border-width: 12.124px 7px 0 7px;
  border-top-color: inherit
}
