{% extends "../../partials/layout.njk" %}

{% from "govuk/components/button/macro.njk" import govukButton %}
{% from "govuk/components/checkboxes/macro.njk" import govukCheckboxes %}
{% from "govuk/components/notification-banner/macro.njk" import govukNotificationBanner %}
{% from "govuk/components/table/macro.njk" import govukTable %}

{% from "../../macros/multiSelectFooter.njk" import multiSelectFooter %}

{% set title = 'View all inactive cells' %}
{% if residentialSummary.location %}
  {% set locationName = residentialSummary.location.displayName | capFirst %}
  {% set title = locationName + ' - Inactive cells - View and update locations' %}
{% endif %}

{% if canAccess('reactivate') %}
  {% block stickyFooterContent %}
    {{ multiSelectFooter({
      actions: [{
        text: 'Activate selected cells',
        formAction: 'submit'
      }]
    }) }}
  {% endblock %}
{% endif %}

{% block beforeContent %}
  {{ super() }}

  {% if banner.success %}
    {% set html %}
      <h3 class="govuk-notification-banner__heading">
        {{ banner.success.title }}
      </h3>
      <p class="govuk-body">
        {{ banner.success.content }}
      </p>
    {% endset %}

    <div class="govuk-width-container">
      <div class="govuk-grid-row govuk-!-margin-bottom-0">
        <div class="govuk-grid-column-two-thirds">
          {{ govukNotificationBanner({
            html: html,
            type: "success",
            classes: "govuk-!-margin-top-7 govuk-!-margin-bottom-0"
          }) }}
        </div>
      </div>
    </div>
  {% endif %}
{% endblock %}

{% block head %}
  {{ super() }}

  <script src="/assets/js/multiSelect.js"></script>
{% endblock %}

{% block heading %}
  {% if locationName %}
    <span class="govuk-caption-m" data-qa="location-type">{{ locationName }}</span>
  {% endif %}

  <h1 class="govuk-heading-l">
    Inactive cells
    <span class="govuk-caption-l">({{ inactiveCells | length }})</span>
  </h1>
{% endblock %}

{% set rows = [] %}

{% for cell in inactiveCells %}
  {% set row = [] %}
  {% if canAccess('reactivate') %}
    {% set row = (row.push({
      html: '<div class="govuk-checkboxes__item govuk-checkboxes--small moj-multi-select__checkbox">
                 <input aria-label="' + cell.pathHierarchy + '" type="checkbox" class="govuk-checkboxes__input" name="selectedLocations" id="location-' + cell.id + '" value="' + cell.id + '">
                 <label class="govuk-label govuk-checkboxes__label moj-multi-select__toggle-label" for="location-' + cell.id + '"></label>
               </div>'
    }), row) %}
  {% endif %}
  {% set row = (row.push(
    { html: "<a href='/view-and-update-locations/" + cell.prisonId + "/" + cell.id + "'>" + cell.pathHierarchy + "</a>", classes: 'govuk-table__header' },
    { text: cell.deactivatedReason },
    { text: (cell.proposedReactivationDate | formatDate) or 'Not provided' },
    { text: cell.planetFmReference or 'Not provided' },
    { text: cell.deactivatedBy }
  ), row) %}

  {% set rows = (rows.push(row), rows) %}
{% endfor %}

{% block content %}
  <div class="govuk-width-container">
    {% set formMethod = options.method | default('post') %}
    {% set formAction = options.action | default('') %}
    {% set formEnctype = options.enctype | default('') %}

    <form method="{{ formMethod }}" action="{{ formAction }}"
        {% if formEnctype %}
          enctype="{{ formEnctype }}"
        {% endif %}
    >
      <input type="hidden" name="prisonId" value="{{ prisonId }}">
      <input type="hidden" name="locationId" value="{{ locationId }}">

      {% if canAccess('reactivate') %}
        {{ govukButton({
          text: "Activate selected cells",
          preventDoubleClick: true,
          type: "submit",
          classes: "moj-js-hidden"
        }) }}
      {% endif %}

      {% set tableHead = [] %}
      {% if canAccess('reactivate') %}
        {% set tableHead = (tableHead.push({ html: '<div class="moj-multi-select"></div>'}), tableHead) %}
      {% endif %}
      {% set tableHead = (tableHead.push(
        { text: "Location" },
        { text: "Reason" },
        { text: "Estimated reactivation date" },
        { text: "Planet FM reference number" },
        { text: "Deactivated by" }
      ), tableHead) %}

      {{ govukTable({
        attributes: {
          "data-qa": "inactive-cells-table"
        },
        head: tableHead,
        rows: rows
      }) }}

      {% if canAccess('reactivate') %}
        {{ govukButton({
          text: "Activate selected cells",
          preventDoubleClick: true,
          type: "submit",
          classes: "moj-js-hidden"
        }) }}
      {% endif %}
    </form>
  </div>
{% endblock %}
