{% extends "../../partials/layout.njk" %}

{% from "govuk/components/table/macro.njk" import govukTable %}

{% set locationType = residentialSummary.location.locationType %}
{% set locationName = residentialSummary.location.localName or locationType + " " + residentialSummary.location.pathHierarchy %}
{% set title = locationName + ' - Inactive cells - View and update locations' if locationHierarchy else 'View all inactive cells' %}

{% block heading %}
  {% if locationHierarchy %}
    <span class="govuk-caption-m" data-qa="location-type">{{ locationName }}</span>
  {% endif %}

  <h1 class="govuk-heading-l">
    Inactive cells
    <span class="govuk-caption-l">({{ inactiveCells | length }})</span>
  </h1>
{% endblock %}

{% set rows = [] %}

{% for cell in inactiveCells %}
  {% set rows = (rows.push(
    [
      { html: "<a href='/view-and-update-locations/" + cell.prisonId + "/" + cell.id + "'>" + cell.pathHierarchy + "</a>" },
      { text: cell.deactivatedReason },
      { text: (cell.proposedReactivationDate | formatDate) or 'Not provided' },
      { text: cell.planetFmReference or 'Not provided' },
      { text: cell.deactivatedBy }
    ]
  ), rows) %}
{% endfor %}

{% block content %}
  <div class="govuk-width-container">
    {{ govukTable({
      attributes: {
        "data-qa": "inactive-cells-table"
      },
      firstCellIsHeader: true,
      head: [
        { text: "Location" },
        { text: "Reason" },
        { text: "Estimated reactivation date" },
        { text: "Planet FM reference number" },
        { text: "Deactivated by" }
      ],
      rows: rows
    }) }}
  </div>
{% endblock %}
