{% extends "../../partials/formStep.njk" %}

{% block fields %}
  <p class="govuk-body govuk-!-margin-bottom-6">
    <strong>{{ cellTypesLabel }} </strong>{{ cellTypesText }}
  </p>

  {{ super() }}
{% endblock %}
