{% extends "../../partials/formStep.njk" %}

{% from "govuk/components/summary-list/macro.njk" import govukSummaryList %}

{% block fields %}
  <p class="govuk-body">
    You are removing the cell’s specific cell type and updating the capacity.
  </p>

  {{ govukSummaryList({
    card: {
      title: { text: "Capacity" },
      actions: { items: [ { href: backLink, text: "Change" } ] }
    },
    rows: [
      {
        key: { text: "Working capacity" },
        value: { text: values.workingCapacity }
      },
      {
        key: { text: "Maximum capacity" },
        value: { text: values.maxCapacity }
      }
    ]
  }) }}

  <div class="govuk-!-padding-bottom-2 change-summary">
    <h2 class="govuk-heading-m">Change to establishment capacity</h2>

    <p>{{ changeSummary | safe }}</p>
  </div>

  {{ super() }}
{% endblock %}
