{% extends "../../partials/formStep.njk" %}

{% from "govuk/components/warning-text/macro.njk" import govukWarningText %}

{% block fields %}
  {{ govukWarningText({
    text: "The cell’s working capacity must be more than 0.",
    iconFallbackText: "Warning"
  }) }}

  {{ govukInsetText({
    text: "Cells used as normal accommodation that don’t have a specific cell type must have a working capacity of at least 1.",
    classes: "govuk-!-margin-top-0"
  }) }}

  {{ super() }}
{% endblock %}

