{% extends "../../partials/formStep.njk" %}

{% from "govuk/components/warning-text/macro.njk" import govukWarningText %}

{% block fields %}
  {{ govukWarningText({
    text: "The cell’s " + ("CNA and " if not fields['baselineCna'].removed else "") + "working capacity must be more than 0.",
    iconFallbackText: "Warning"
  }) }}

  {{ govukInsetText({
    text: "Cells used as normal accommodation that are not a special cell type must have a " + ("CNA and " if not fields['baselineCna'].removed else "") + "working capacity of at least 1.",
    classes: "govuk-!-margin-top-0"
  }) }}

  {{ super() }}
{% endblock %}

