---
# Per environment values which override defaults in hmpps-locations-inside-prison/values.yaml

generic-service:
  replicaCount: 2

  ingress:
    host: locations-inside-prison-train.hmpps.service.justice.gov.uk

  env:
    INGRESS_URL: "https://locations-inside-prison-train.hmpps.service.justice.gov.uk"
    HMPPS_AUTH_URL: "https://sign-in-preprod.hmpps.service.justice.gov.uk/auth"
    MANAGE_USERS_API_URL: "http://localhost:8090"
    TOKEN_VERIFICATION_API_URL: "https://token-verification-api-preprod.prison.service.justice.gov.uk"
    COMMON_COMPONENTS_ENABLED: false
    COMPONENT_API_URL: "http://not-used"
    DPS_URL: "https://digital-preprod.prison.service.justice.gov.uk"
    SERVICE_NON_RESIDENTIAL_LOCATIONS_URL: "https://non-residential-locations-preprod.hmpps.service.justice.gov.uk"
    LOCATIONS_API_URL: "https://locations-inside-prison-api-train.hmpps.service.justice.gov.uk"
    PRISON_API_URL: "http://localhost:8090"
    ENVIRONMENT_NAME: Training
    AUDIT_ENABLED: "false"
    PRODUCTION_URL: "https://locations-inside-prison.hmpps.service.justice.gov.uk"

  extraContainers:
    - name: wiremock
      image: "ghcr.io/ministryofjustice/hmpps-wiremock:latest"
      imagePullPolicy: IfNotPresent
      ports:
        - name: http
          containerPort: 8090
          protocol: TCP
      env:
        - name: WIREMOCK_REPOS
          value: |
            [
              {
                "repoUrl": "https://github.com/ministryofjustice/hmpps-locations-inside-prison",
                "branch": "main",
                "path": "wiremock"
              }
            ]
      livenessProbe:
        httpGet:
          path: /__admin/mappings
          port: 8090
        initialDelaySeconds: 10
        periodSeconds: 10
        timeoutSeconds: 5
        failureThreshold: 5

