---
# Per environment values which override defaults in hmpps-locations-inside-prison/values.yaml

generic-service:
  replicaCount: 2

  ingress:
    host: locations-inside-prison-train.hmpps.service.justice.gov.uk
# NOTE: MANAGE_USERS_API_URL and LOCATIONS_API_URL are pointed to the wiremock container in this environment.

  env:
    INGRESS_URL: "https://locations-inside-prison-train.hmpps.service.justice.gov.uk"
    HMPPS_AUTH_URL: "https://sign-in-preprod.hmpps.service.justice.gov.uk/auth"
    MANAGE_USERS_API_URL: "http://hmpps-locations-inside-prison-api:8090"
    TOKEN_VERIFICATION_API_URL: "https://token-verification-api-preprod.prison.service.justice.gov.uk"
    COMMON_COMPONENTS_ENABLED: false
    COMPONENT_API_URL: "http://not-used"
    DPS_URL: "https://digital-preprod.prison.service.justice.gov.uk"
    SERVICE_NON_RESIDENTIAL_LOCATIONS_URL: "https://non-residential-locations-preprod.hmpps.service.justice.gov.uk"
    LOCATIONS_API_URL: "https://locations-inside-prison-api-train.hmpps.service.justice.gov.uk"
    PRISON_API_URL: "http://hmpps-locations-inside-prison-api:8090"
    DPR_API_URL: "http://hmpps-locations-inside-prison-api:3000"
    ENVIRONMENT_NAME: Training
    AUDIT_ENABLED: "false"
    PRODUCTION_URL: "https://locations-inside-prison.hmpps.service.justice.gov.uk"
