{% extends "../../partials/formStep.njk" %}

{% block heading %}
  {{ super() }}

  <p>
    You should decrease the certified working capacity if a location will be unavailable long term or if it will result
    in a significant reduction to capacity.
  </p>
{% endblock %}
