{% extends "../../partials/layout.njk" %}

{% block beforeContent %}
{% endblock %}

{% block content %}
  <div class="govuk-width-container">
    <div class="govuk-grid-row">
      <div class="govuk-grid-column-two-thirds">
        <p class="govuk-body">
          You need to move everyone out of this location before you can deactivate it.
        </p>

        <p class="govuk-body">
          <a href="{{ cancelLink }}" class="govuk-link govuk-link--no-visited-state">
            Return to location details
          </a>
        </p>
      </div>
    </div>
  </div>
{% endblock %}
