{% extends "../partials/layout.njk" %}

{% set title = message if message else applicationName + " - Error" %}

{% block pageTitle %}{{ applicationName }} - Error{% endblock %}

{% block content %}
  <div class="govuk-width-container">
    <div class="govuk-grid-row">
      <div class="govuk-grid-column-two-thirds">
        <h2 class="govuk-heading-m">{{ status }}</h2>
        <pre>{{ stack }}</pre>
      </div>
    </div>
  </div>
{% endblock %}
