{% extends "../partials/layout.njk" %}

{% set title = message %}

{% block pageTitle %}{{ applicationName }} - Error{% endblock %}

{% block beforeContent %}

  {{ super() }}

  <h2>{{ status }}</h2>
  <pre>{{ stack }}</pre>

{% endblock %}
