{% extends "../partials/layout.njk" %}

{% from "../macros/cardBlock.njk" import cardBlock %}

{% set title = 'Locations' %}
{% if sandbox %}
  {% set title = title + ' (practice version)' %}
{% endif %}
{% set feedbackBannerBackground = 'feedbackBannerBackground'%}

{% block topBannerContent %}
  <div id="top-banner">
    <div class="govuk-width-container">
      <div class="govuk-grid-row">
        <div class="govuk-grid-column-three-quarters">
          <h1 class="govuk-heading-xl govuk-!-padding-top-5 govuk-!-margin-bottom-5">
            Practice using Locations
          </h1>
          <p class="govuk-body govuk-!-margin-bottom-6">
            Use this practice version of the service to explore and learn how to use it
            <br>
            without making real changes.
          </p>
          <a role="button" class="govuk-button govuk-button--inverse" href="{{ productionUrl }}">
            Switch to the live service
          </a>
        </div>
      </div>
    </div>
  </div>
{% endblock %}

{% block content %}
  {{ cardBlock('Residential locations', resiCards, resiPermissionMessage) }}
  {% if nonResiCards or nonResiPermissionMessage %}
    {{ cardBlock('Non-residential locations', nonResiCards, nonResiPermissionMessage) }}
  {% endif %}
{% endblock %}
