{% extends "../partials/layout.njk" %}

{% from "../macros/card.njk" import card %}

{% set title = applicationName %}

{% block head %}
  {{ super() }}

  <script src="/assets/js/card.js"></script>
{% endblock %}

{% block content %}
  <div class="body-tiles">
    <div class="govuk-width-container">
      <div class="card-group govuk-grid-row">
        {% for cardDetails in cards -%}
          <div class="govuk-grid-column-one-third card-group__item">
            {{ card(cardDetails) }}
          </div>
        {%- endfor %}
      </div>
    </div>
  </div>
{% endblock %}
